{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
{% endblock %}
{% block content %}
<p id="mess">

</p>
<h2>
ارسال بازخورد برخط
</h2>
    <p>
    کاربر گرامی {{ user2.first_name }} {{ user2.last_name }}
    لطفاً نظر خود را در خصوص
    <a href="/show/tour/{{ tour.id }}">
        تور
        {{ tour.gardesh.name }}
    </a>
    در میان بگذارید . نظر شما به طور مستقیم به مدیریت سامانه سپاس ایران ارسال میگردد. </p>
<form method="post" action="/quality/saveOnlineComment/{{ tour.id }} ">
{% csrf_token %}
<textarea name="body" cols="60"   rows="5"></textarea>
    <br>

 <button type="submit" class="btn btn-success" onclick="alert_func()">ارسال</button>
</form>
<script>
    function alert_func(){
        document.getElementById("mess").innerHTML = '<div class="alert alert-success" ><strong>از بازخورد شما متشکریم . این بازخورد برای مدیر سامانه ارسال خواهد شد .</div>';

    }
</script>
{% endblock %}
