{% extends 'one_trip.html' %}
{% load staticfiles %}
{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'present_trip/css/main.css' %}">
{% endblock %}

{% block one_trip_content %}
{#*********** ========================= Restaurant =========================== **************#}
    {% if kind == 'restaurant' %}
        <div id="down_part" class="box , col-md-12">
            <div class="bs-example bs-example-tabs , col-md-7" data-example-id="togglable-tabs">
                <ul id="myTabs" class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="active"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">اطلاعات بیشتر</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                  <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledBy="home-tab">
                      <P>{{ trip.gardesh.other_explain }}</P>
                  </div>
                </div>
            </div><!-- /example -->

            <div class="col-md-5">
                <table class="table">
                    <thead>{{ trip.gardesh.name }}</thead>
                    <tbody>
                        <tr>
                            <td>
                                شرکت گردشگری:
                            </td>
                            <td>{{ trip.gardesh.name }}</td>
                        </tr>
                        <tr>
                            <td>
مکان:
                            </td>
                            <td>{{ trip.city }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <button type="button" class="btn btn-warning , col-md-4" data-toggle="modal" data-target="#myModal">
برای مشاهده ی میزهای خالی کلیک کنید.
            </button>



        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">
اطلاعات میز ها
                </h4>
              </div>
              <div class="modal-body">
                {% if not tables %}
متاسفانه در تاریخ مورد نظر میز خالی وجود ندارد.
                {% else %}
                    {% for table in tables %}
                        <div class="box , col-md-12">
                        <div class="col-md-12">
                            <table class="table ">
                            <thead>
میز شماره ی
                            {{ table.number }}
                            </thead>
                            <tbody>
                                <tr><td>
                                    ظرفیت:
                                </td>
                                <td>{{ table.capacity }}</td>

                                <td>
                                    قیمت:
                                </td>
                                <td>{{ table.cost_perClock }} تومان</td>
                                </tr>

                            </tbody>
                        </table>
                        <table>
                            {% for item in all_table_obj %}
                                {% if forloop.counter == 6 %}
                                    <tr>
                                {% endif %}
                                    {% if item.number == table.number %}
                                        <td><table class="table table-bordered table-striped">{% if item.full == 1 %}
                                            <tr class="warning">
                                                <td>
                                            تاریخ:
                                                </td>
                                                <td>{{ item.date }}</td>
                                            </tr>
                                            <tr class="info">
                                                <td>
                                                    ساعت:
                                                </td>
                                                <td>{{ item.start_clock}}</td>
                                            </tr>
                                            <tr class="danger">
                                                <td>وضعیت:</td>
                                                <td>پر</td>
                                            </tr>
                                        {% else %}
                                            <tr class="warning">
                                                <td>
                                            تاریخ:
                                                </td>
                                                <td>{{ item.date }}</td>
                                            </tr>
                                            <tr class="info">
                                                <td>
                                                    ساعت:
                                                </td>
                                                <td>{{ item.start_clock}}</td>
                                            </tr>
                                            <tr class="success">
                                                <td>
                                                <input type="checkbox" class="checkbox" id="{{ item.id }}"/></td>
                                                <td>خالی</td>
                                            </tr>
                                        {% endif %}
                                        </table></td>
                                    {% endif %}
                                {% if forloop.counter == 5 %}
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </table>
                        </div>
                        </div>
                    {% endfor %}
                {% endif %}
              </div>
              <div class="modal-footer">
              <form action="" method="post">{% csrf_token %}
              <input type="hidden" value="gol" name="returned_id_list" class="returned_id_list" >
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    {% if user.userm.kind == 'gardeshgar' %}
                        <div class="col-md-12"  style="float: left; direction: ltr">
                            <button type="submit" class="btn btn-warning , col-md-12" onclick="get_checked()">رزرو</button>
                            <button type="submit" href="/purchase/{{ kind }}/{{ table.id }}" class="btn btn-success , col-md-12">خرید</button>
                        </div>
                    {% elif user.userm.kind == 'gardeshsaz' and access == true%}
                        <button type="button" href="/show/{{ kind }}/{{ trip.id }}/{{ table.number }}/status" class="btn btn-info , col-md-12">

                                   وضعیت گردش
                        </button>
                        <button type="submit" href="/purchase/{{ kind }}/{{ table.id }}" class="btn btn-success , col-md-12">فروش در محل عرضه</button>
                        <button type="submit" class="btn btn-warning , col-md-12" onclick="get_checked()">تغییر اطلاعات گردش</button>
                    {% elif user.userm.kind == 'gardeshsaz' %}

                    {% else %}
                        <a type="button" class="btn btn-primary , col-md-12" href="/signIn">ورود</a>
                              <div class="col-md-12" style="color: red">
                                    برای خرید باید وارد سایت شوید.
                              </div>
                    {% endif %}
                </div>
                <div class="col-md-4"></div>
              </form>
              </div>
            </div>
          </div>
        </div>


    {% endif %}
{% endblock %}


