{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'present_trip/css/main.css' %}">
{% endblock %}
{% block content %}


{#*********** ======================== top_part ========================= **************#}
    <div id="top_part" class="col-md-12">
            <div class="col-md-1"></div>
                    <div class="col-md-10">
                                <!-- Carousel
                        ================================================== -->
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                          <!-- Indicators -->
                          <ol class="carousel-indicators">
                              {% for number in pic_range %}
                                  {% if forloop.counter == 1 %}
                                      <li data-target="#myCarousel" data-slide-to="{{ number }}" class="active"></li>
                                  {% else %}
                                      <li data-target="#myCarousel" data-slide-to="{{ number }}"></li>
                                  {% endif %}
                              {% endfor %}
                          </ol>

                          <div class="carousel-inner" role="listbox">
                              {% for pic in  pic_list %}
                                  {% if forloop.counter == 1 %}
                                      <div class="item active , picture">
                                  {% else %}
                                      <div class="item  , picture">
                                  {% endif %}
                              <img class="first-slide" src='/{{ pic }}' alt="First slide">
                              <div class="container">
                                <div class="carousel-caption">
                                </div>
                              </div>
                            </div>
                              {% endfor %}
                          </div>

                          <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                          </a>
                          <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                          </a>
                        </div><!-- /.carousel -->
                    </div>
                    <div class="col-md-1"></div>
        </div>
{#    -------> end top_part #}
    {% block one_trip_content %}{% endblock %}

{#*********** ========================= Airplane =========================== **************#}
    {% if kind == 'airplane' %}
        <div id="down_part" class="box , col-md-12">
            <div class="bs-example bs-example-tabs , col-md-7" data-example-id="togglable-tabs">
                <ul id="myTabs" class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="active"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">اطلاعات بیشتر</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                  <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledBy="home-tab">
                      <P>{{ trip.gardesh.other_explain }}</P>
                  </div>
                </div>
            </div><!-- /example -->


            <div class="col-md-5">
                <table class="table">
                    <thead>{{ trip.gardesh.name }}</thead>
                    <tbody>
                        <tr>
                            <td>
                                شرکت گردشگری:
                            </td>
                            <td>{{ trip.gardesh.name }}</td>
                        </tr>
                        <tr>
                            <td>
مبدا:
                            </td>
                            <td>{{ trip.source }}</td>
                        </tr>
                        <tr>
                            <td>مقصد:</td>
                            <td>{{ trip.destination }}</td>
                        </tr>
                        <tr>
                            <td>روز:</td>
                            <td>{{ trip.start }}</td>
                        </tr>
                        <tr>
                            <td>ساعت:</td>
                            <td>{{ trip.start_t }}</td>
                        </tr>
                        <tr>
                            <td>قیمت:</td>
                            <td>{{ trip.cost }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            {% if user.userm.kind == 'gardeshgar' %}
                <div class="col-md-6"  style="float: left; direction: ltr">
                    <a type="button" href="/reserving/{{ kind }}/{{ trip.id }}" class="btn btn-warning">رزرو</a>
                    <a type="button" href="/purchase/{{ kind }}/{{ trip.id }}" class="btn btn-success">خرید</a>
                </div>
            {% elif user.userm.kind == 'gardeshsaz'%}
                   <a type="button" href="/show/{{ kind }}/{{ trip.id }}/status" class="btn btn-info , col-md-3">
                   وضعیت گردش
                    </a>
            {% else %}
                <div class="col-md-3" style="color: red">
                    برای خرید باید وارد سایت شوید.
                </div>
            {% endif %}

        </div>
    {% endif %}
{#*********** ========================= Train =========================== **************#}
    {% if kind == 'train' %}
        <div id="down_part" class="box , col-md-12">
            <div class="bs-example bs-example-tabs , col-md-7" data-example-id="togglable-tabs">
                <ul id="myTabs" class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="active"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">اطلاعات بیشتر</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                  <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledBy="home-tab">
                      <P>{{ trip.gardesh.other_explain }}</P>
                  </div>
                </div>
            </div><!-- /example -->


            <div class="col-md-5">
                <table class="table">
                    <thead>{{ trip.gardesh.name }}</thead>
                    <tbody>
                        <tr>
                            <td>
                                شرکت گردشگری:
                            </td>
                            <td>{{ trip.gardesh.name }}</td>
                        </tr>
                        <tr>
                            <td>
مبدا:
                            </td>
                            <td>{{ trip.source }}</td>
                        </tr>
                        <tr>
                            <td>مقصد:</td>
                            <td>{{ trip.destination }}</td>
                        </tr>
                        <tr>
                            <td>روز:</td>
                            <td>{{ trip.start }}</td>
                        </tr>
                        <tr>
                            <td>ساعت:</td>
                            <td>{{ trip.start_t }}</td>
                        </tr>
                        <tr>
                            <td>قیمت:</td>
                            <td>{{ trip.cost }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            {% if user.userm.kind == 'gardeshgar' %}
                <div class="col-md-6"  style="float: left; direction: ltr">
                    <a type="button" href="/reserving/{{ kind }}/{{ trip.id }}" class="btn btn-warning">رزرو</a>
                    <a type="button" href="/purchase/{{ kind }}/{{ trip.id }}" class="btn btn-success">خرید</a>
                </div>
            {% elif user.userm.kind == 'gardeshsaz'%}
                   <a type="button" href="/show/{{ kind }}/{{ trip.id }}/status" class="btn btn-info , col-md-3">
                   وضعیت گردش
                    </a>
            {% else %}
                <div class="col-md-3" style="color: red">
                    برای خرید باید وارد سایت شوید.
                </div>
            {% endif %}
        </div>
    {% endif %}
{#*********** ========================= tour =========================== **************#}{# TODO: namayesh mohtavaye etelaAt Harekar-MAKAN-EZAFE #}
    {% if kind == 'tour'%}
        <div id="down_part" class="box , col-md-12">
            <div class="bs-example bs-example-tabs , col-md-7" data-example-id="togglable-tabs">
                <ul id="myTabs" class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">درباره مکان</a></li>
                  <li role="presentation"><a role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">اطلاعات حرکت</a></li>
                  <li role="presentation"><a role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">اطلاعات بیشتر</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                  <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledBy="home-tab">
                      <P>{{ trip.destination_explain }}</P>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledBy="profile-tab">
                      <P>{{ trip.move_explain }}</P>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledBy="profile-tab">
                      <P>{{ trip.gardesh.other_explain }}</P>
                  </div>
                </div>
            </div><!-- /example -->

            <div class="col-md-5">
                <table class="table">
                    <thead>{{ trip.gardesh.name }}</thead>
                    <tbody>
                        <tr>
                            <td>
                                شرکت گردشگری:
                            </td>
                            <td>{{ trip.gardesh.name }}</td>
                        </tr>
                        <tr>
                            <td>
مکان:
                            </td>
                            <td>{{ trip.destination }}</td>
                        </tr>
                        <tr>
                            <td>
                                زمان:
                            </td>
                            <td>{{ trip.end }} تا {{ trip.start }}</td>
                        </tr>
                        <tr>
                            <td>
                                نوع تور:
                            </td>
                            <td>{{ trip.tour_kind }}</td>
                        </tr>
                        <tr>
                            <td>
                                قیمت:
                            </td>
                            <td>{{ trip.entire_cost }} تومان</td>
                        </tr>
                    </tbody>
                </table>
                </div>

            {% if user.userm.kind == 'gardeshgar' %}
                <div class="col-md-6"  style="float: left; direction: ltr">
                    <a type="button" href="/reserving/{{ kind }}/{{ trip.id }}" class="btn btn-warning">رزرو</a>
                    <a type="button" href="/purchase/{{ kind }}/{{ trip.id }}" class="btn btn-success">خرید</a>
                </div>
            {% elif user.userm.kind == 'gardeshsaz'%}
                   <a type="button" href="/show/{{ kind }}/{{ trip.id }}/status" class="btn btn-info , col-md-3">
                   وضعیت گردش
                    </a>
            {% else %}
                <div class="col-md-3" style="color: red">
                    برای خرید باید وارد سایت شوید.
                </div>
            {% endif %}

        </div>

    {% endif %}
{#*********** ========================= pack =========================== **************#}
    {% if kind == 'pack' %}
        <div>
        این قسمت طراحی نشده است.
        </div>
    {% endif %}
{% endblock %}



{% block script %}
<script>
    function get_checked(){
        id_list = [];
        check_boxes = document.querySelectorAll('.checkbox');
        returned_id_list = document.querySelector('.returned_id_list');
        for (var i = 0 ; i < check_boxes.length ; i++){
            if(check_boxes[i].checked == true){
                id_list.push(check_boxes[i].id);
            }
        }
        returned_id_list.value = id_list;
        console.log(id_list)
    }
</script>
{% endblock %}

