{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'present_trip/css/main.css' %}">
{% endblock %}
{% block content %}
     {% if not error %}
        <div id="down_part" class="col-md-12">
            <h3>{{ trip.gardesh.name }}</h3>
            {% if trip.gardesh.kind == 'TR' %}
                <span>
                    {{ trip.source }}
                به
                {{ trip.destination }}
                </span>
            {% elif trip.gardesh.kind == 'A' %}
                <span>
                    {{ trip.source }}
                به
                {{ trip.destination }}
                </span>
            {% elif trip.gardesh.kind == 'R' %}
                <span>
                میز شماره
                {{ sub_trip.number }}
                ظرفیت
                {{ sub_trip.capacity }}
                </span>
            {% elif trip.gardesh.kind == 'H' %}
                اتاق شماره
                {{ sub_trip.number }}
                ظرفیت
                {{ sub_trip.capacity }}
            {% endif %}
            <div class="box , col-md-12">
                <h4>
                    لیست خرید
                </h4>
                <table class="table">
                    <thead>
                    <tr>
                        {% if trip.gardesh.kind == 'R' %}
                            <td>
                            ساعت
                            </td>
                        {% elif trip.gardesh.kind == 'H' %}
                            <td>
                            تاریخ
                            </td>
                        {% endif %}
                        <td>
                            نام و نام خانوادگی
                        </td>
                        <td>
کدملی
                        </td>
                        <td>
کدپیگیری
                        </td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for buyer in buy_trips %}
                        <tr>
                            {% if trip.gardesh.kind == 'R' %}
                                <td>{{ buyer.gardesh.start_clock }}</td>
                            {% elif trip.gardesh.kind == 'H' %}
                                <td>{{ buyer.gardesh.date }}</td>
                            {% endif %}
                            <td>{{ buyer.info.first_name }} {{ buyer.info.last_name }}</td>
                            <td>{{ buyer.info.meli_code }}</td>
                            <td>{{ buyer.info.peygiry_code }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td>مجموع:</td>
                        <td>{{ buy_trips | length}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>


            <div class="box , col-md-12">
                <h4>
لیست رزرو
                </h4>
                <table class="table">
                    <thead>
                    <tr>
                        {% if trip.gardesh.kind == 'R' %}
                            <td>
                            ساعت
                            </td>
                        {% elif trip.gardesh.kind == 'H' %}
                            <td>
                            تاریخ
                            </td>
                        {% endif %}
                        <td>
                            نام و نام خانوادگی
                        </td>
                        <td>
کدملی
                        </td>
                        <td>
کدپیگیری
                        </td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for buyer in reserve_trip %}
                        <tr>
                            {% if trip.gardesh.kind == 'R' %}
                                <td>{{ buyer.gardesh.start_clock }}</td>
                            {% elif trip.gardesh.kind == 'H' %}
                                <td>{{ buyer.gardesh.date }}</td>
                            {% endif %}
                            <td>{{ buyer.info.first_name }} {{ buyer.info.last_name }}</td>
                            <td>{{ buyer.info.meli_code }}</td>
                            <td>{{ buyer.info.peygiry_code }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td>مجموع:</td>
                        <td>{{ reserve_trip | length}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    {% if username == 'admin' %}

    {% else %}
    <div class="col-md-6"  style="float: left; direction: ltr">
        <a type="button" href="#" class="btn btn-success">
            فروش در مرکز عرضه
        </a>
        <a type="button" href="/tourdefine/tour/change/gardeshsaz" class="btn btn-warning">
            تغییر اطلاعات گردش
        </a>
        <a type="button" href="/cancelselling/gardeshsaz" class="btn btn-danger">
            لغو ادامه فروش در سامانه
        </a>
    </div>
    <div class="col-md-6">
    {% if zarfiat == -1 %}

    {% else %}
            ظرفیت باقی مانده در سامانه:
            {{ zarfiat }}
    عدد
        {% endif %}
    </div>
    {% endif %}
    {% else %}
         <div>{{ error }}</div>
    {% endif %}
{% endblock %}


{#{% block script %}#}
{#    <script>#}
{#        function togglelist(a){#}
{#            class_number = a.name;#}
{#            list = document.querySelectorAll('.u'+class_number);#}
{#            if(a.className === 'btn btn-default , glyphicon glyphicon-minus'){#}
{#                console.log('hihi');#}
{#                a.setAttribute("class","btn btn-default , glyphicon glyphicon-plus");#}
{#                for(var i=0 ; i < list.length ; i++){#}
{#                    list[i].setAttribute("class","hidden , nav nav-pills nav-stacked , u"+class_number);#}
{#                }#}
{##}
{#            }else#}
{#            if(a.className === 'btn btn-default , glyphicon glyphicon-plus') {#}
{#                a.setAttribute("class","btn btn-default , glyphicon glyphicon-minus");#}
{#                for(var i=0 ; i < list.length ; i++){#}
{#                    list[i].setAttribute("class","nav nav-pills nav-stacked , u"+class_number);#}
{#                }#}
{##}
{#            }#}
{#        }#}
{#    </script>#}
{#{% endblock %}#}