{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'present_trip/css/main.css' %}">
{% endblock %}
{% block content %}
     {% if not error %}
        <div id="down_part" class="col-md-12">
            <h3>{{ trip.gardesh.name }}</h3>
            {% if kind == 'train' %}
                <span>
                    {{ trip.get_source_display }}
                به
                {{ trip.get_destination_display }}
                </span>
            {% elif kind == 'airplane' %}
                <span>
                    {{ trip.get_source_display }}
                به
                {{ trip.get_destination_display }}
                </span>
            {% elif kind == 'restaurant' %}
                <span>
                میز شماره
                {{ sub_trip.number }}
                ظرفیت
                {{ sub_trip.capacity }}
                </span>
            {% elif kind == 'hotel' %}
                اتاق شماره
                {{ sub_trip.number }}
                ظرفیت
                {{ sub_trip.capacity }}
            {% endif %}
            <div class="box , col-md-12">
                <h4>
                    لیست خرید
                </h4>
                <table class="table">
                    <thead>
                    <tr>
                        {% if kind == 'restaurant' %}
                            <td>
                            ساعت
                            </td>
                        {% elif kind == 'hotel' %}
                            <td>
                            تاریخ
                            </td>
                        {% endif %}
                        <td>
                            نام و نام خانوادگی
                        </td>
                        <td>
کدملی
                        </td>
{#                        <td>#}
{#کدپیگیری#}
{#                        </td>#}
                    </tr>
                    </thead>
                    <tbody>
                    {% for buyer in buy_trips %}
                        <tr>
                            {% if kind == 'restaurant' %}
                                <td>{{ buyer.gardesh.start_clock }}</td>
                            {% elif kind == 'hotel' %}
                                <td>{{ buyer.gardesh.date }}</td>
                            {% endif %}
                            <td>{{ buyer.info.first_name }} {{ buyer.info.last_name }}</td>
                            <td>{{ buyer.info.meli_code }}</td>
{#                            <td>{{ buyer.info.peygiry_code }}</td>#}
                        </tr>
                    {% endfor %}
                    <tr>
                        <td>مجموع:</td>
                        <td>{{ buy_trips | length}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>


            <div class="box , col-md-12">
                <h4>
لیست رزرو
                </h4>
                <table class="table">
                    <thead>
                    <tr>
                        {% if kind == 'restaurant' %}
                            <td>
                            ساعت
                            </td>
                        {% elif kind == 'hotel' %}
                            <td>
                            تاریخ
                            </td>
                        {% endif %}
                        <td>
                            نام و نام خانوادگی
                        </td>
                        <td>
کدملی
                        </td>
{#                        <td>#}
{#کدپیگیری#}
{#                        </td>#}
                    </tr>
                    </thead>
                    <tbody>
                    {% for buyer in reserve_trip %}
                        <tr>
                            {% if kind == 'restaurant' %}
                                <td>{{ buyer.gardesh.start_clock }}</td>
                            {% elif kind == 'hotel' %}
                                <td>{{ buyer.gardesh.date }}</td>
                            {% endif %}
                            <td>{{ buyer.info.first_name }} {{ buyer.info.last_name }}</td>
                            <td>{{ buyer.info.meli_code }}</td>
{#                            <td>{{ buyer.info.peygiry_code }}</td>#}
                        </tr>
                    {% endfor %}
                    <tr>
                        <td>مجموع:</td>
                        <td>{{ reserve_trip | length}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    {% if username == 'admin' %}

    {% else %}
{#    <div class="col-md-6"  style="float: left; direction: ltr">#}
{#        <a type="button" href="#" class="btn btn-success">#}
{#            فروش در مرکز عرضه#}
{#        </a>#}
{#        <a type="button" href="/tourdefine/tour/change/gardeshsaz" class="btn btn-warning">#}
{#            تغییر اطلاعات گردش#}
{#        </a>#}
{#        <a type="button" href="/cancelselling/gardeshsaz" class="btn btn-danger">#}
{#            لغو ادامه فروش در سامانه#}
{#        </a>#}
{#    </div>#}
    <div class="col-md-12">
    {% if zarfiat == -1 %}

    {% else %}
            ظرفیت باقی مانده در سامانه:
            {{ zarfiat }}
    عدد
        {% endif %}
    </div>
    {% endif %}
    {% else %}
         <div>{{ error }}</div>
    {% endif %}
{% endblock %}
