{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'present_trip/css/main.css' %}">
{% endblock %}
{% block content %}
        <div class="col-md-12 , box">
            <span>
                    سلام،
                   <span>{{ user.user.user.first_name }} {{ user.user.user.last_name }}</span>
            </span>
        {% if user_kind == 'gardeshgar' %}
            <div class="btn-group , col-md-5" role="group" aria-label="...">
                <a href="/profile/tourist/{{user.user.user.username}}" type="button" class="btn btn-danger">
                    مشخصات کاربری
                </a>
{#                <a href="/quality/userRating" type="button" class="btn btn-success">#}
{#                    نظرسنجی#}
{#                </a>#}
{#                <a href="/quality/onlineComment" type="button" class="btn btn-warning">#}
{#                    نظردهی برخط#}
{#                </a>#}
            </div>
            {% else %}
        <div class="col-md-5">
            <a href="/profile/tourbuilder/{{ user.user.user.username }}" type="button" class="btn btn-success , col-md-12 ">مشخصات کاربری</a></br>
        </div>
        {% endif %}

        </div>
        <div class="col-md-6 ">
        <div class="panel-danger">

            <div class="panel-heading">
                <span class="panel-title" id="" style="font-size: 20px; color: red">
گردش های پیش رو
                </span>
            </div>
                <ul class="panel-body , nav nav-pills nav-stacked">
                {% block item_list %}{% endblock %}
                </ul>
        </div>
        </div>



        <div class="col-md-6">
        <div class=" panel panel-success">

            <div class="panel-heading">
                <h4 class="panel-title"><span id="" style="font-size: 20px;"><span class=''>&#1578;&#1740;&#1585;</span> <span class=''>&#1777;&#1779;&#1785;&#1780;</span></span></h4>
            </div>

            <div class="panel-body">
            <table id="" class="table">
                <thead>
                <tr>
                    <td>&#1588</td><td>&#1740</td><td>&#1583</td><td>&#1587</td><td>&#1670</td><td>&#1662</td><td>&#1580</td>
                </tr>
                </thead>
                <tbody class="jalali">
                    <tr>
                        <td></td><td></td><td>&#1777;</td><td>&#1778;</td><td>&#1779;</td><td>&#1780;</td><td>&#1781;</td>
                    </tr>
                    <tr>
                        <td>&#1782;</td><td>&#1783;</td><td>&#1784;</td><td>&#1785;</td><td>&#1777;&#1776;</td><td>&#1777;&#1777;</td><td class="alert alert-danger">&#1777;&#1778;</td>
                    </tr>
                    <tr>
                        <td>&#1777;&#1779;</td><td>&#1777;&#1780;</td><td>&#1777;&#1781;</td><td>&#1777;&#1782;</td><td class="alert alert-warning">&#1777;&#1783;</td><td class="alert alert-warning">&#1777;&#1784;</td><td>&#1777;&#1785;</td>
                    </tr>
                    <tr>
                        <td>&#1778;&#1776;</td><td>&#1778;&#1777;</td><td>&#1778;&#1778;</td><td>&#1778;&#1779;</td><td>&#1778;&#1780;</td><td>&#1778;&#1781;</td><td>&#1778;&#1782;</td>
                    </tr>
                    <tr>
                        <td>&#1778;&#1783;</td><td>&#1778;&#1784;</td><td>&#1778;&#1785;</td><td>&#1779;&#1776;</td><td>&#1779;&#1777;</td>
                    </tr>
                </tbody>
            </table>
            <a id="" title="ماه قبلی" class="previous" style="float:left">
                                ماه بعدی
            </a>
            <a id="" title="ماه بعدی" class="next" style="float: right">
                ماه قبلی
            </a>
            </div>

        </div>
        </div>


     <!-- Modal -->
    <form action="" method="get" class="date_form">{% csrf_token %}
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">
                    تعیین بازه زمانی
                </h4>
              </div>
              <div class="modal-body">
                      <input name="start" type="date" class="form-control" />
                      <input name="end" type="date" class="form-control" />


              </div>
              <div class="modal-footer">
                  <button type="submit" class="col-md-4 , btn btn-success">
                          مشاهده
                      </button>
              </div>
            </div>
          </div>
        </div>
    </form>
{% endblock %}


{% block script %}
    <script>
        function fill_modal(a) {

            var new_action = a.id;
            var form = document.querySelector('.date_form');
            form.action = new_action;

            console.log('salam');


        }

    </script>
{% endblock %}