{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'present_trip/css/main.css' %}">
{% endblock %}
{% block content %}
        <div class="col-md-12 , box">
            <span>
                {% if user_kind == 'gardeshsaz' %}
                    سلام،
                   <span>{{ user.user.user.first_name }} {{ user.user.user.last_name }}</span>
                {% else %}
                {% endif %}
            </span>
        {% if user_kind == 'gardeshgar' %}
            <div class="btn-group , col-md-5" role="group" aria-label="...">
                <a href="/profile/tourist/gardeshgar" type="button" class="btn btn-danger">
                    مشخصات کاربری
                </a>
                <a href="/quality/userRating" type="button" class="btn btn-success">
                    نظرسنجی
                </a>
                <a href="/quality/onlineComment" type="button" class="btn btn-warning">
                    نظردهی برخط
                </a>
            </div>
            {% else %}
        <div class="col-md-5">
            <a href="/profile/tourbuilder/gardeshsaz" type="button" class="btn btn-success , col-md-12 ">مشخصات کاربری</a></br>
        </div>
        {% endif %}

        </div>
        <div class="col-md-6 ">
        <div class="panel-danger">

            <div class="panel-heading">
                <span class="panel-title" id="" style="font-size: 20px; color: red">
گردش های پیش رو
                </span>
            </div>
                <ul class="panel-body , nav nav-pills nav-stacked">
                {% if tour_list %}
                    <h3>تور:</h3>
                    {% for item in tour_list %}
                        <li>
                            <div class="btn-group btn-group-xs" aria-label="Extra-small button group">
                                <a href="/show/tour/{{ item.id }}" type="button" class="btn btn-warning ,glyphicon glyphicon-record" style="color: #fff"></a></div>
زمان برگزاری تور
                        {{ item.gardesh.name }}
                        {{ item.start }}
                         الی
                        {{ item.end }}
                         می باشد.
                        </li>
                    {% endfor %}
                {% endif %}
                {% if hotel_list %}
                    <h3>هتل:</h3>
                    {% for item in hotel_list %}
                        <li>
                            <div class="btn-group btn-group-xs" aria-label="Extra-small button group">
                                <a href="/show/tour/{{ item.id }}" type="button" class="btn btn-warning ,glyphicon glyphicon-record" style="color: #fff"></a></div>
هتل
                        {{ item.hotel.gardesh.name }}
                            اتاق
                        {{ item.number }}
                         تاریخ
                        {{ item.date }}
                        </li>
                    {% endfor %}
                {% endif %}
                {% if restaurant_list %}
                    <h3>رستوران:</h3>
                    {% for item in restaurant_list %}
                        <li>
                            <div class="btn-group btn-group-xs" aria-label="Extra-small button group">
                                <a href="/show/tour/{{ item.id }}" type="button" class="btn btn-warning ,glyphicon glyphicon-record" style="color: #fff"></a></div>
رستوران
                        {{ item.restaurant.gardesh.name }}
                        میز
                        {{ item.number }}
                        تاریخ
                        {{ item.date }}
                        ساعت
                        {{ item.start_clock }}
                        </li>
                    {% endfor %}
                {% endif %}
                {% if train_list %}
                    <h3>هواپیما:</h3>
                    {% for item in train_list %}
                        <li>
                            <div class="btn-group btn-group-xs" aria-label="Extra-small button group">
                                <a href="/show/tour/{{ item.id }}" type="button" class="btn btn-warning ,glyphicon glyphicon-record" style="color: #fff"></a></div>
هواپیما
                        {{ item.gardesh.name }}
مبدا
                        {{ item.source }}
مقصد
                        {{ item.destination }}
تاریخ
                        {{ item.start }}
                        </li>
                    {% endfor %}
                {% endif %}
                {% if airplane_list %}
                    <h3>قطار:</h3>
                    {% for item in airplane_list %}
                        <li>
                            <div class="btn-group btn-group-xs" aria-label="Extra-small button group">
                                <a href="/show/tour/{{ item.id }}" type="button" class="btn btn-warning ,glyphicon glyphicon-record" style="color: #fff"></a></div>
قطار
                        {{ item.gardesh.name }}
مبدا
                        {{ item.source }}
مقصد
                        {{ item.destination }}
تاریخ
                        {{ item.start }}
                        </li>
                    {% endfor %}
                {% endif %}
                {% if gardeshgar_list %}
                    {% for item in gardeshgar_list %}
                        <li>
                            <div class="btn-group btn-group-xs" aria-label="Extra-small button group">
                                <a href="/show/tour/{{ item.id }}" type="button" class="btn btn-warning ,glyphicon glyphicon-record" style="color: #fff"></a></div>
                            {% if item.wanted_tour %}
تور
                                {{ item.wanted_tour.gardesh.gardesh.name }}
                                زمان
                                {{ item.wanted_tour.gardesh.start }}
                                الی
                                {{ item.wanted_tour.gardesh.end }}
                            {% elif item.wanted_hotel %}
هتل
                                {{ item.wanted_hotel.gardesh.hotel.gardesh.name }}
                                اتاق
                                {{ item.wanted_hotel.gardesh.number }}
تاریخ
                                {{ item.wanted_hotel.gardesh.date }}

                            {% elif item.wanted_restaurant %}
رستوران
                                {{ item.wanted_restaurant.gardesh.restaurant.gardesh.name }}
                                میز
                                {{ item.wanted_restaurant.gardesh.number }}
تاریخ
                                {{ item.wanted_restaurant.gardesh.date }}
                                زمان
                                {{ item.wanted_restaurant.gardesh.start_clock }}
                            {% elif item.wanted_airplane %}
                                هواپیمای
                                {{ item.wanted_airplane.gardesh.airpalne.gardesh.name }}
                                تاریخ
                                {{ item.wanted_airplane.gardesh.airpalne.start }}
                                زمان
                                {{ item.wanted_airplane.gardesh.airpalne.start_t }}
                                شماره صندلی
                                {{ item.wanted_airplane.gardesh.number }}
                            {% elif item.wanted_train %}
                                قطار
                                {{ item.wanted_train.gardesh.train.gardesh.name }}
                                تاریخ
                                {{ item.wanted_train.gardesh.train.start }}
                                زمان
                                {{ item.wanted_train.gardesh.train.start_t }}
                                شماره صندلی
                                {{ item.wanted_train.gardesh.number }}
                            {% endif %}
                        </li>
                    {% endfor %}
                {% endif %}
                </ul>
        </div>
        </div>

        <div class="col-md-6">
        <div class=" panel panel-success">

            <div class="panel-heading">
                <h4 class="panel-title"><span id="" style="font-size: 20px;"><span class=''>&#1578;&#1740;&#1585;</span> <span class=''>&#1777;&#1779;&#1785;&#1780;</span></span></h4>
            </div>

            <div class="panel-body">
            <table id="" class="table">
                <thead>
                <tr>
                    <td>&#1588</td><td>&#1740</td><td>&#1583</td><td>&#1587</td><td>&#1670</td><td>&#1662</td><td>&#1580</td>
                </tr>
                </thead>
                <tbody class="jalali">
                    <tr>
                        <td></td><td></td><td>&#1777;</td><td>&#1778;</td><td>&#1779;</td><td>&#1780;</td><td>&#1781;</td>
                    </tr>
                    <tr>
                        <td>&#1782;</td><td>&#1783;</td><td>&#1784;</td><td>&#1785;</td><td>&#1777;&#1776;</td><td>&#1777;&#1777;</td><td class="alert alert-danger">&#1777;&#1778;</td>
                    </tr>
                    <tr>
                        <td>&#1777;&#1779;</td><td>&#1777;&#1780;</td><td>&#1777;&#1781;</td><td>&#1777;&#1782;</td><td class="alert alert-warning">&#1777;&#1783;</td><td class="alert alert-warning">&#1777;&#1784;</td><td>&#1777;&#1785;</td>
                    </tr>
                    <tr>
                        <td>&#1778;&#1776;</td><td>&#1778;&#1777;</td><td>&#1778;&#1778;</td><td>&#1778;&#1779;</td><td>&#1778;&#1780;</td><td>&#1778;&#1781;</td><td>&#1778;&#1782;</td>
                    </tr>
                    <tr>
                        <td>&#1778;&#1783;</td><td>&#1778;&#1784;</td><td>&#1778;&#1785;</td><td>&#1779;&#1776;</td><td>&#1779;&#1777;</td>
                    </tr>
                </tbody>
            </table>
            <a id="" title="ماه قبلی" class="previous" style="float:left">
                                ماه بعدی
            </a>
            <a id="" title="ماه بعدی" class="next" style="float: right">
                ماه قبلی
            </a>
            </div>

        </div>
        </div>


    {% if user_kind == 'gardeshgar' %}
        <div id="down_part">
            {#    {% if login  %}#}
            <div class=" col-md-6 , box">
                <h4>تور های تخفیفی</h4>
                <img class="col-md-12 " id="promotion_pic" src="{% static 'define_and_validate_trip/img/ax5.jpg' %}">
                <div class="col-md-12">
                    <p>
                        <a href="takGardesh.html" onmouseover="change_pic_1(this)"
                           name="{% static 'define_and_validate_trip/img/ax5.jpg' %}">
                                                       تور جنگل ابر تا ابشار مجن - شرکت گردشگری دالاهو
                        </a>
                    </p>
                    <p>
                        <a href="takGardesh.html" onmouseover="change_pic_1(this)"
                           name="{% static 'define_and_validate_trip/img/ax6.jpg' %}">
                                        اکو تور گیلان - ماسوله - آستارا - شرکت گردشگری مارکوپولو
                        </a>
                    </p>
                    <p>
                        <a href="takGardesh.html" onmouseover="change_pic_1(this)"
                           name="{% static 'define_and_validate_trip/img/ax7.jpg' %}">
                                                          هتل پنج ستاره پارمیس کیش
                        </a>
                    </p>
                </div>
            </div>

            <div class=" col-md-6 , box">
                <h4>تور های تشویقی</h4>
                <img class="col-md-12 " id="off_pic" src="{% static 'define_and_validate_trip/img/ax5.jpg' %}">
                <div class="col-md-12">
                    <p>
                        <a href="takGardesh.html" onmouseover="change_pic_2(this)"
                           name="{% static 'define_and_validate_trip/img/ax5.jpg' %}">
                                                       تور جنگل ابر تا ابشار مجن - شرکت گردشگری دالاهو
                        </a>
                    </p>
                    <p>
                        <a href="takGardesh.html" onmouseover="change_pic_2(this)"
                           name="{% static 'define_and_validate_trip/img/ax6.jpg' %}">
                                        اکو تور گیلان - ماسوله - آستارا - شرکت گردشگری مارکوپولو
                        </a>
                    </p>
                    <p>
                        <a href="takGardesh.html" onmouseover="change_pic_2(this)"
                           name="{% static 'define_and_validate_trip/img/ax7.jpg' %}">
                                                          هتل پنج ستاره پارمیس کیش
                        </a>
                    </p>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}