{% extends 'base.html' %}
{% load staticfiles %}
{% load miladitoshamsi %}
{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'present_trip/css/main.css' %}">
{% endblock %}

{% block content %}
        <div class="col-md-12 , box">
            <span>
                    سلام،
                   <span>{{ user.user.user.first_name }} {{ user.user.user.last_name }}</span>
            </span>
        {% if user_kind == 'gardeshgar' %}
            <div class="btn-group , col-md-5" role="group" aria-label="...">
                <a href="/profile/tourist/{{user.user.user.username}}" type="button" class="btn btn-danger">
                    مشخصات کاربری
                </a>
            </div>
            {% else %}
        <div class="col-md-5">
            <a href="/profile/tourbuilder/{{ user.user.user.username }}" type="button" class="btn btn-success , col-md-12 ">مشخصات کاربری</a></br>
        </div>
        {% endif %}

        </div>
        <div class="col-md-6 ">
        <div class="panel panel-danger">

            <div class="panel-heading">
                <span class="panel-title" id="" style="font-size: 20px; color: red">
گردش های پیش رو
                </span>
            </div>
                <ul class="panel-body , nav nav-pills nav-stacked">
                {% block item_list %}{% endblock %}
                </ul>
        </div>
        </div>


        {% block current_trip %}{% endblock %}
        {% block nazarsangi %}{% endblock %}
        {% include 'taghvim.html' %}



     <!-- Modal -->
    <form action="" method="get" class="date_form">{% csrf_token %}
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">
                    تعیین بازه زمانی
                </h4>
              </div>
              <div class="modal-body">
                  <label class="col-md-12">از تاریخ </label>
                      <input name="start" type="date" class="form-control" />
                  <label class="col-md-12">تا تاریخ</label>
                      <input name="end" type="date" class="form-control" />
              </div>
              <div class="modal-footer">
                  <button type="submit" class="col-md-4 , btn btn-success">
                          مشاهده
                      </button>
              </div>
            </div>
          </div>
        </div>
    </form>
{% endblock %}


{% block script %}
    <script>
        function fill_modal(a) {

            var new_action = a.id;
            var form = document.querySelector('.date_form');
            form.action = new_action;
        }

        var header = document.querySelector('.taghvim');
        var body = document.querySelector('.jalali');
        var nex = document.querySelector('.next');
        var pre = document.querySelector('.previous');

        function next_month(a){
            console.log(nex);
            console.log(pre);

            if (a.id == 'tir'){
{#                show mordad#}
                $(header).html("<h4 class='panel-title'><span style='font-size: 20px;'><span >مرداد</span> <span >۱۳۹۴</span></span></h4>");

                $(body).html(
                     '   <tr><td></td><td></td><td></td><td></td><td></td><td>1</td><td>2</td></tr>'+
                    '<tr><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td><td>8</td><td>9</td></tr>'+
                    '<tr><td>10</td><td>11</td><td>12</td><td>13</td><td>14</td><td>15</td><td>16</td></tr>'+
                    '<tr><td>17</td><td>18</td><td>19</td><td>20</td><td>21</td><td>22</td><td>23</td></tr>'+
                    '<tr><td>24</td><td>25</td><td>26</td><td>27</td><td>28</td><td>29</td><td>30</td></tr>'+
                    '<tr><td>31</td></tr>'
                );

                nex.id = 'mordad';
                pre.id = 'mordad';


            }
            else
            if(a.id == 'mordad'){
{#                show shahrivar#}
                $(header).html("<h4 class='panel-title'><span style='font-size: 20px;'><span >شهریور</span> <span >۱۳۹۴</span></span></h4>");

                $(body).html(
                    '<tr><td></td><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td></tr>'+
                    '<tr><td>7</td><td>8</td><td>9</td><td>10</td><td>11</td><td>12</td><td>13</td></tr>'+
                    '<tr><td>14</td><td>15</td><td>16</td><td>17</td><td>18</td><td>19</td><td>20</td></tr>'+
                    '<tr><td>21</td><td>22</td><td>23</td><td>24</td><td>25</td><td>26</td><td>27</td></tr>'+
                    '<tr><td>28</td><td>29</td><td>30</td><td>31</td><td></td><td></td><td></td></tr>'
                );

                nex.id = 'shahrivar';
                pre.id = 'shahrivar';
            }
        }

        function previous_month(a){
            console.log(nex);
            console.log(pre);

            if(a.id == 'mordad'){
{#                show tir#}

                $(header).html("<h4 class='panel-title'><span style='font-size: 20px;'><span >تیر</span> <span >۱۳۹۴</span></span></h4>");


                $(body).html('<tr>'+
                    '<td></td><td></td><td>&#1777;</td><td>&#1778;</td><td>&#1779;</td><td>&#1780;</td><td>&#1781;</td>'+
                    '</tr><tr>'+
                    '<td>&#1782;</td><td>&#1783;</td><td>&#1784;</td><td>&#1785;</td><td>&#1777;&#1776;</td><td>&#1777;&#1777;</td><td class="alert alert-danger">&#1777;&#1778;</td>'+
                    '</tr><tr>'+
                    '<td>&#1777;&#1779;</td><td>&#1777;&#1780;</td><td>&#1777;&#1781;</td><td>&#1777;&#1782;</td><td class="alert alert-warning">&#1777;&#1783;</td><td class="alert alert-warning">&#1777;&#1784;</td><td>&#1777;&#1785;</td>'+
                    '</tr><tr>'+
                    '<td>&#1778;&#1776;</td><td>&#1778;&#1777;</td><td>&#1778;&#1778;</td><td>&#1778;&#1779;</td><td>&#1778;&#1780;</td><td>&#1778;&#1781;</td><td>&#1778;&#1782;</td>'+
                    '</tr><tr>'+
                    '<td>&#1778;&#1783;</td><td>&#1778;&#1784;</td><td>&#1778;&#1785;</td><td>&#1779;&#1776;</td><td>&#1779;&#1777;</td>'+
                    '</tr>'
                );

                nex.id = 'tir';
                pre.id = 'tir';

            }else
            if(a.id == 'shahrivar'){
{#                show mordad#}
                $(header).html("<h4 class='panel-title'><span style='font-size: 20px;'><span >مرداد</span> <span >۱۳۹۴</span></span></h4>");

                $(body).html(
                     '   <tr><td></td><td></td><td></td><td></td><td></td><td>1</td><td>2</td></tr>'+
                    '<tr><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td><td>8</td><td>9</td></tr>'+
                    '<tr><td>10</td><td>11</td><td>12</td><td>13</td><td>14</td><td>15</td><td>16</td></tr>'+
                    '<tr><td>17</td><td>18</td><td>19</td><td>20</td><td>21</td><td>22</td><td>23</td></tr>'+
                    '<tr><td>24</td><td>25</td><td>26</td><td>27</td><td>28</td><td>29</td><td>30</td></tr>'+
                    '<tr><td>31</td></tr>'
                );

                nex.id = 'mordad';
                pre.id = 'mordad';
            }
        }

    </script>
{% endblock %}