<div class="col-md-6">
        <div class=" panel panel-success">

            <div class="panel-heading , taghvim">
                <h4 class="panel-title"><span id="" style="font-size: 20px;"><span class=''>مرداد</span> <span class=''>۱۳۹۴</span></span></h4>
            </div>

            <div class="panel-body">
            <table id="" class="table">
                <thead>
                <tr>
                    <td>&#1588</td><td>&#1740</td><td>&#1583</td><td>&#1587</td><td>&#1670</td><td>&#1662</td><td>&#1580</td>
                </tr>
                </thead>
                <tbody class="jalali">
                    <tr><td></td><td></td><td></td><td></td><td></td><td>1</td><td>2</td></tr>
                    <tr><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td><td>8</td><td>9</td></tr>
                    <tr><td>10</td><td>11</td><td>12</td><td>13</td><td>14</td><td>15</td><td>16</td></tr>
                    <tr><td>17</td><td>18</td><td>19</td><td>20</td><td>21</td><td>22</td><td>23</td></tr>
                    <tr><td>24</td><td>25</td><td>26</td><td>27</td><td>28</td><td>29</td><td>30</td></tr>
                    <tr><td>31</td></tr>
                </tbody>
            </table>
            <a id="mordad" title="ماه قبلی" class="previous" style="float:left" onclick="previous_month(this)">
ماه قبلی
            </a>
            <a id="mordad" title="ماه بعدی" class="next" style="float: right" onclick="next_month(this)">
ماه بعدی
            </a>
            </div>

        </div>
        </div>