{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <title>وضعیت تراکنش</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main.css'  %}">

<link rel="stylesheet" type="text/css" href="css/transaction-status.css">
</head>
<body>
<div class="col-md-8">
<p>
    {% if kind == 'tour' %}

    {{ gardesh.name }}  برای شما به تعداد   {{ number }} نفر  رزرو شد .

    {% elif kind == 'restaurant' %}
        میز شما در رستوران{{ gardesh.name }} رزرو شد.

    {% elif kind == 'train' %}
         برای شما به تعداد {{ number }} صندلی قطار
{{ gardesh.name }}
            رزرو شد.
    {% elif kind == 'airplane' %}
        برای شما به تعداد {{ number }} صندلی هواپیما
{{ gardesh.name }}
            رزرو شد.
    {% elif kind == 'hotel' %}
        اتاق شما در هتل  {{ gardesh.name }} رزرو شد.
    {% endif %}
</p>

</div>
</body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="css/transaction-status.css"></script>
{% endblock %}