{% extends "manager_dashboard.html" %}
{% load staticfiles %}
{% block content_dashboard %}

    <div class="col-md-9">
        <h2>رتبه بندی تورها</h2>

        <div class="col-md-4" style="    border-radius: 25px;
    border: 2px solid #795b00;
    padding: 20px;">
            <table>
                <tr>
                    <td><strong>
                        برنزی
                    </strong></td>
                </tr>


                {% for tour in bronze_tours %}
                    <tr>
                        <td>
                <span>

                    <img class="tour_image_med" src="/{{ tour.gardesh.builder.user.picture }}">
                </span>
                        </td>
                        <td>
                            <a href="/show/tour/{{ tour.id }}/status/">
                            تور
                            {{ tour.gardesh.name }}</a></td>

                    </tr>
                {% endfor %}


            </table>

        </div>
        <div class="col-md-4" style="    border-radius: 25px;
    border: 2px solid #bdc0b2;
    padding: 20px;">
            <table>
                <tr>
                    <td><strong>
                        نقره ای</strong></td>
                </tr>


                {% for tour in silver_tours %}
                    <tr>
                        <td>
                <span>

                    <img class="tour_image_med" src="/{{ tour.gardesh.builder.user.picture }}">
                </span>
                        </td>
                        <td>
                            <a href="/show/tour/{{ tour.id }}/status/">
                            تور
                            {{ tour.gardesh.name }}</a></td>

                    </tr>
                {% endfor %}

            </table>

        </div>
        <div class="col-md-4" style=" border-radius: 25px;
    border: 2px solid #fff200;
    padding: 20px;">
            <table>
                <tr>
                    <td><strong>
                        طلایی</strong></td>
                </tr>


                {% for tour in gold_tours %}
                    <tr>
                        <td>
                <span>

                    <img class="tour_image_med" src="/{{ tour.gardesh.builder.user.picture }}">
                </span>
                        </td>
                        <td>
                            <a href="/show/tour/{{ tour.id }}/status/">
                            تور
                            {{ tour.gardesh.name }}</a></td>

                    </tr>
                {% endfor %}
            </table>

        </div>

    </div>

{% endblock content_dashboard %}