{% extends "manager_dashboard.html" %}
{% load staticfiles %}
{% block content_dashboard %}

    <div class="col-md-4">

        <div style="width:100% ; margin-left: 20% ; margin-top: 10%" >
            <div>
                <canvas id="canvas3" height="450" width="600"></canvas>
            </div>
           نمودار درصد قراردادها در شش ماه گذشته
 - محور عمودی بر حسب درصد می باشد .
    <p>تاریخ آخرین تغییرات</p>
       {% for d in dates %}
        <p>{{ d }}</p>
       {% endfor %}
        </div>

    </div>
    <div class="col-md-5">
        <form role="form" action="/manager/saveContractPercent/">
            <div class="form-group">
                <label><h2>ورود درصد قرارداد</h2></label>

                <br>

                <p> درصد پیشنهادی قراردادها مقداری است که به گردش ساز تعلق میگیرد . این مقدار تنها توسط مدیر قابل تغییر
                    است . </p>

                <p><b>مقدار فعلی درصد قراردادها
                {{ percents.5 }}
                    درصد است .
                </b></p>

                <p>درصد جدید را در جعبه زیر وارد کنید .
                عدد باید از صد کوچکتر باشد .</p>
                <input type="number" name="percent" class="" value="0" style="width: 150px">
                <input type="submit" value="تایید" class="btn btn-success">
            </div>
        </form>

    </div>

{% endblock content_dashboard %}


{% block script %}
    <script src="/static/Chart.js-master/src/Chart.Core.js"></script>
    <script src="/static/Chart.js-master/src/Chart.Doughnut.js"></script>
    <script src="/static/chart.js-master/Chart.js"></script>
    <script>
        var randomScalingFactor = function () {
            return Math.round(Math.random() * 50)
        };
        var lineChartData = {
            labels: [ "1", "2", "3", "4", "5 ","6"],
            datasets: [
                {
                    label: "ظرفیت(نفر)",
                    fillColor: "rgba(220,220,220,0.2)",
                    strokeColor: "rgba(220,220,220,1)",
                    pointColor: "rgba(220,220,220,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(220,220,220,1)",
                    data : {{ percents }}

                }
            ]

        }
        window.onload = function () {
            var ctx4 = document.getElementById("canvas3").getContext("2d");
            window.myLine = new Chart(ctx4).Line(lineChartData, {
                responsive: true
            });
        };

    </script>
{% endblock %}