{% extends "manager_base.html" %}
{% load staticfiles %}

{% block content_dashboard %}
    <div class="box col-md-4" style="padding-left: 20px ; margin-left: 20px">
        <table>
            <tr>
                <td><strong>
                نظرات برخط کاربران
                </strong></td>
            </tr>
{% for comment in onlineComments %}
            <tr>
                <td>
                    <div>
                <span>
                    <img class="gardeshgar_img" src="../../{{comment.user.picture}}">
                </span>
                <span class="gardeshgar_name_box">
               <a href="profile/tourist/{{ comment.user.user.username }}">{{ comment.user.user.username }} </a>
                    <br>
                    تور
                  <a href="/show/tour/status/{{ comment.tour.id }}"> {{ comment.tour.gardesh.name }}</a>
{#                    todo #}
                </span>

                        <div class="col-md-12 gardeshgar_comment_box">
                            {{ comment.body }}
                            <br>
                            {{ comment.date }}
                        </div>
                    </div>
                </td>
            </tr>

{% endfor %}

        </table>
    <a href="/manager/OnlineComments"> نظرات بیشتر</a>
    </div>

    <div class="col-md-5" style="padding-right: 60px">
        <div class="box col-md-12">
            <table>
                <tr>
                    <td><strong>
                        تورهای در حال اجرا
                    </strong></td>
                </tr>

                {% for tour in runningTours %}
                   <tr>

                    <td>
                <span>

                    <img class="tour_image_large" src="{% static 'manager_dashboard/image/manzare2.jpg' %}">
{#                    todo #}
                </span>
                    </td>
                    <td>
                        تور
                        {{ tour.gardesh.name }}
                        <br>
                        مسئول تور :
                        {{ tour.leader }}
                        <br>
                        ظرفیت فروش :
                        {{ tour.capacity }}
                        <br>
                        <a href="/show/tour/admin/status">
{#                            todo #}
                            اطلاعات بیشتر
                        </a></td>

                </tr>
                {% endfor %}

            </table>
        <a href="/manager/tourLists/">مشاهده ی همه ی تورها</a>
        </div>
        <div class="box col-md-12">
            <table>
                <tr>
                    <td><strong>
                       تورهای برتر
                    </strong></td>
                </tr>

                          {% for tour in runningTours %}
                <tr>

                    <td>
                <span>

                    <img class="tour_image_med" src="{% static 'manager_dashboard/image/manzare2.jpg' %}">
                </span>
                        </td>

                    <td>
                  تور
                    {{ tour.name  }}
                    <br>
                        مسئول تور :
                    {{ tour.person }}
                    <br>
                    <a href="http://127.0.0.1:8000//show/tour/status/{{ tour.id }}" >

                    اطلاعات تور

                    </a> </td>

                </tr>
    {% endfor %}

            </table>
        </div>
    </div>
{% endblock content_dashboard %}


{% block script %}
{% endblock %}