{% extends "manager_base.html" %}
{% load staticfiles %}
{% load time %}
{% load miladitoshamsi %}
{% block content_dashboard %}
    <div class="box col-md-4" style="padding-left: 20px ; margin-left: 20px">
        <table>
            <tr>
                <td><strong>
                    نظرات برخط کاربران
                </strong></td>
            </tr>
            {% for comment in onlineComments %}
                <tr>
                    <td>
                        <div>
                <span>
                    <img class="gardeshgar_img" src="../../{{ comment.user.picture }}">
                </span>
                <span class="gardeshgar_name_box">
               <a href="profile/tourist/{{ comment.user.user.username }}">{{ comment.user.user.first_name }} {{ comment.user.user.last_name }} </a>
                    <br>
                    تور
                  <a href="/show/tour/{{ comment.tour.id }}/status/"> {{ comment.tour.gardesh.name }}</a>
{#                    todo #}
                </span>

                            <div class="col-md-12 gardeshgar_comment_box">
                                {{ comment.body }}
                                <br>
                                {{ comment.date | miladitoshamsi }}
                                -
                                ساعت
                                {{ comment.date | time }}
                            </div>
                        </div>
                    </td>
                </tr>

            {% endfor %}

        </table>
        <a href="/manager/OnlineComments"> نظرات بیشتر</a>
    </div>

    <div class="col-md-5" style="padding-right: 60px">
    <p> شرکت در نظرسنجی</p>
        <div id="canvas-holder" style="width:45%; display: inline-block">
            <canvas id="chart-area" width="300" height="300"/>
        </div>
        <div id="canvas-holder2" style="width:45%;  display: inline-block">
            <canvas id="chart-area2" width="300" height="300"/>
        </div>
          <div id="canvas-holder" style="width:45%; display: inline-block">
              نسبت کاربرانی که در نظرسنجی تور شرکت کرده اند به کسانی که شرکت نکرده اند .
          </div>
        <div id="canvas-holder2" style="width:45%;  display: inline-block">
            نسبت رضایت کاربران از خدمات تور
        </div>

        <hr>
        <p> تعداد گردشگرانی که ثبت نام کرده اند و تعداد گردشگرانی که حداقل در یک تور شرکت کرده اند . </p>

        <div style="width: 100%">
            <canvas id="canvas-bar" height="450" width="600"></canvas>
        </div>
<hr>
        <p>
            کل ظرفیت ارائه شده و میزانی که توسط سپاس ایران فروخته شده است .
        </p>

        <div style="width:100%">
            <div>
                <canvas id="canvas3" height="450" width="600"></canvas>
            </div>
        </div>


                <div class="box col-md-12">
                    <table>
                        <tr>
                            <td><strong>
                                تورهای در حال اجرا
                            </strong></td>
                        </tr>

                        {% for tour in runningTours %}
                            <tr>

                                <td>
                        <span>

                            <img class="tour_image_large" src="../../{{ tour.gardesh.builder.user.picture }}">
{#                            todo#}
                        </span>
                                </td>
                                <td>
                                    تور
                                    {{ tour.gardesh.name }}
                                    <br>
                                    مسئول تور :
                                    {{ tour.leader }}
                                    <br>
                                    ظرفیت فروش :
                                    {{ tour.capacity }}
                                    نفر
                                    <br>
                                    <a href="/show/tour/{{ tour.id }}/status">
{#                                    todo#}
                                        اطلاعات بیشتر
                                    </a></td>

                            </tr>
                        {% endfor %}

                    </table>
                    <a href="/manager/tourLists/">مشاهده ی همه ی تورها</a>
                </div>
        {#        <div class="box col-md-12">#}
        {#            <table>#}
        {#                <tr>#}
        {#                    <td><strong>#}
        {#                       تورهای برتر#}
        {#                    </strong></td>#}
        {#                </tr>#}
        {##}
        {#                          {% for tour in runningTours %}#}
        {#                <tr>#}
        {##}
        {#                    <td>#}
        {#                <span>#}
        {##}
        {#                    <img class="tour_image_med" src="{% static 'manager_dashboard/image/manzare2.jpg' %}">#}
        {#                </span>#}
        {#                        </td>#}
        {##}
        {#                    <td>#}
        {#                  تور#}
        {#                    {{ tour.name  }}#}
        {#                    <br>#}
        {#                        مسئول تور :#}
        {#                    {{ tour.person }}#}
        {#                    <br>#}
        {#                    <a href="http://127.0.0.1:8000//show/tour/status/{{ tour.id }}" >#}
        {##}
        {#                    اطلاعات تور#}
        {##}
        {#                    </a> </td>#}
        {##}
        {#                </tr>#}
        {#    {% endfor %}#}
        {##}
        {#            </table>#}
        {#        </div>#}
    </div>
{% endblock content_dashboard %}


{% block script %}

    <script src="/static/Chart.js-master/src/Chart.Core.js"></script>
    <script src="/static/Chart.js-master/src/Chart.Doughnut.js"></script>
    <script src="/static/chart.js-master/Chart.js"></script>
    <script>

        var doughnutData = [
            {
                value: 7,
                label: "شرکت کرده اند",
                color: "#F7464A"
            },
            {
                value: 12,
                label: "شرکت نکرده اند",
                color: "#F7904A"
            }

        ];

        var randomScalingFactor = function () {
            return Math.round(Math.random() * 50)
        };

        var barChartData = {
            labels: ["اسفند", "فروردین", "اردیبهشت", "خرداد", "تیر", "مرداد"],
            datasets: [
                {
                    fillColor: "rgba(200,200,200,0.8)",
                    strokeColor: "rgba(220,220,220,1)",
                    {#				highlightFill: "rgba(220,220,220,0.75)",#}
                    {#				highlightStroke: "rgba(220,220,220,1)",#}
                    data: [10,12,15,20,15,8]
                } ,
                			{
                				fillColor : "rgba(151,187,205,0.5)",
                				strokeColor : "rgba(151,187,205,0.8)",
                				highlightFill : "rgba(151,187,205,0.75)",
                				highlightStroke : "rgba(151,187,205,1)",
                				data : [8,9,7,16,10,6]
                			}
            ]

        }

   var doughnutData2 = [
            {
                value: 1,
                label: "نظم",
                color: "#dfdfdf"
            },
            {
                value: 5,
                label: "کیفیت خدمات",
                color: "#ff0066"
            },
            {
                value: 3,
                label: "رفتار مجریان",
                color: "#e6aaad"
            } ,
             {
                value: 4,
                label: "وسایل نقلیه",
                color: "#95667A"
            } ,
             {
                value: 5,
                label: "اسکان",
                color: "#0000ff"
            }

        ];
        var lineChartData = {
            labels: ["اسفند", "فروردین", "اردیبهشت", "خرداد", "تیر", "مرداد"],
            datasets: [
                {
                    label: "ظرفیت(نفر)",
                    fillColor: "rgba(220,220,220,0.2)",
                    strokeColor: "rgba(220,220,220,1)",
                    pointColor: "rgba(220,220,220,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(220,220,220,1)",
                    data: [10,12,15,20,15,8]
                 },
                {
                    label: "فروخته شده(نفر)",
                    fillColor: "rgba(151,187,205,0.2)",
                    strokeColor: "rgba(151,187,205,1)",
                    pointColor: "rgba(151,187,205,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(151,187,205,1)",
                  data : [8,11,10,18,10,8]
                     }
            ]

        }

        window.onload = function () {
            var ctx = document.getElementById("chart-area").getContext("2d");
            window.myDoughnut = new Chart(ctx).Doughnut(doughnutData, {responsive: true});

            var ctx2 = document.getElementById("chart-area2").getContext("2d");
            window.myDoughnut = new Chart(ctx2).Doughnut(doughnutData2, {responsive: true});

            var ctx3 = document.getElementById("canvas-bar").getContext("2d");
            window.myBar = new Chart(ctx3).Bar(barChartData, {
                responsive: true
            });

            var ctx4 = document.getElementById("canvas3").getContext("2d");
            window.myLine = new Chart(ctx4).Line(lineChartData, {
                responsive: true
            });
        };


    </script>

{% endblock %}