{% extends "manager_base.html" %}
{% load staticfiles %}
{% load time %}
{% load miladitoshamsi %}
{% block content_dashboard %}
    <div class="box col-md-4" style="padding-left: 20px ; margin-left: 20px">
        <table>
            <tr>
                <td><strong>
                    نظرات برخط کاربران
                </strong></td>
            </tr>
            {% for comment in onlineComments %}
                <tr>
                    <td>
                        <div>
                <span>
                    <img class="gardeshgar_img" src="../../{{ comment.user.picture }}">
                </span>
                <span class="gardeshgar_name_box">
               <a href="profile/tourist/{{ comment.user.user.username }}">{{ comment.user.user.first_name }} {{ comment.user.user.last_name }} </a>
                    <br>
                    تور
                  <a href="/show/tour/{{ comment.tour.id }}/status/"> {{ comment.tour.gardesh.name }}</a>
{#                    todo #}
                </span>

                            <div class="col-md-12 gardeshgar_comment_box">
                                {{ comment.body }}
                                <br>
                                {{ comment.date | miladitoshamsi }}
                                -
                                ساعت
                                {{ comment.date | time }}
                            </div>
                        </div>
                    </td>
                </tr>

            {% endfor %}

        </table>
        <a href="/manager/OnlineComments"> نظرات بیشتر</a>
    </div>

    <div class="col-md-5" style="padding-right: 60px">

        <div id="canvas-holder" style="width:45%; display: inline-block">
            <canvas id="chart-area" width="300" height="300"/>
        </div>
        <div id="canvas-holder2" style="width:45%;  display: inline-block">
            <canvas id="chart-area2" width="300" height="300"/>
        </div>

        <div style="width: 100%">
            <canvas id="canvas-bar" height="450" width="600"></canvas>
        </div>

        <p>
            کل ظرفیت ارائه شده و میزانی که توسط سپاس ایران فروخته شده است .
        </p>

        <div style="width:100%">
            <div>
                <canvas id="canvas3" height="450" width="600"></canvas>
            </div>
        </div>


        {#        <div class="box col-md-12">#}
        {#            <table>#}
        {#                <tr>#}
        {#                    <td><strong>#}
        {#                        تورهای در حال اجرا#}
        {#                    </strong></td>#}
        {#                </tr>#}
        {##}
        {#                {% for tour in runningTours %}#}
        {#                    <tr>#}
        {##}
        {#                        <td>#}
        {#                <span>#}
        {##}
        {#                    <img class="tour_image_large" src="../../{{ tour.gardesh.builder.user.picture }}">#}
        {#                    todo #}
        {#                </span>#}
        {#                        </td>#}
        {#                        <td>#}
        {#                            تور#}
        {#                            {{ tour.gardesh.name }}#}
        {#                            <br>#}
        {#                            مسئول تور :#}
        {#                            {{ tour.leader }}#}
        {#                            <br>#}
        {#                            ظرفیت فروش :#}
        {#                            {{ tour.capacity }}#}
        {#                            نفر#}
        {#                            <br>#}
        {#                            <a href="/show/tour/{{ tour.id }}/status">#}
        {#                            todo #}
        {#                                اطلاعات بیشتر#}
        {#                            </a></td>#}
        {##}
        {#                    </tr>#}
        {#                {% endfor %}#}
        {##}
        {#            </table>#}
        {#            <a href="/manager/tourLists/">مشاهده ی همه ی تورها</a>#}
        {#        </div>#}
        {#        <div class="box col-md-12">#}
        {#            <table>#}
        {#                <tr>#}
        {#                    <td><strong>#}
        {#                       تورهای برتر#}
        {#                    </strong></td>#}
        {#                </tr>#}
        {##}
        {#                          {% for tour in runningTours %}#}
        {#                <tr>#}
        {##}
        {#                    <td>#}
        {#                <span>#}
        {##}
        {#                    <img class="tour_image_med" src="{% static 'manager_dashboard/image/manzare2.jpg' %}">#}
        {#                </span>#}
        {#                        </td>#}
        {##}
        {#                    <td>#}
        {#                  تور#}
        {#                    {{ tour.name  }}#}
        {#                    <br>#}
        {#                        مسئول تور :#}
        {#                    {{ tour.person }}#}
        {#                    <br>#}
        {#                    <a href="http://127.0.0.1:8000//show/tour/status/{{ tour.id }}" >#}
        {##}
        {#                    اطلاعات تور#}
        {##}
        {#                    </a> </td>#}
        {##}
        {#                </tr>#}
        {#    {% endfor %}#}
        {##}
        {#            </table>#}
        {#        </div>#}
    </div>
{% endblock content_dashboard %}


{% block script %}

    <script src="/static/Chart.js-master/src/Chart.Core.js"></script>
    <script src="/static/Chart.js-master/src/Chart.Doughnut.js"></script>
    <script src="/static/chart.js-master/Chart.js"></script>
    <script>

        var doughnutData = [
            {
                value: 1,
                label: "One",
                color: "#F7464A"
            },
            {
                value: 12,
                label: "Two",
                color: "#F7904A"
            },
            {
                value: 3,
                label: "Three",
                color: "#95604A"
            }

        ];

        var randomScalingFactor = function () {
            return Math.round(Math.random() * 50)
        };

        var barChartData = {
            labels: ["اسفند", "فروردین", "اردیبهشت", "خرداد", "تیر", "مرداد"],
            datasets: [
                {
                    fillColor: "rgba(200,200,200,0.8)",
                    strokeColor: "rgba(220,220,220,1)",
                    {#				highlightFill: "rgba(220,220,220,0.75)",#}
                    {#				highlightStroke: "rgba(220,220,220,1)",#}
                    data: [randomScalingFactor(50), randomScalingFactor(50), randomScalingFactor(50), randomScalingFactor(50), randomScalingFactor(50), randomScalingFactor(50)]
                }
                {#			{#}
                {#				fillColor : "rgba(151,187,205,0.5)",#}
                {#				strokeColor : "rgba(151,187,205,0.8)",#}
                {#				highlightFill : "rgba(151,187,205,0.75)",#}
                {#				highlightStroke : "rgba(151,187,205,1)",#}
                {#				data : [randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor()]#}
                {#			}#}
            ]

        }

   var doughnutData2 = [
            {
                value: 1,
                label: "One",
                color: "#99364A"
            },
            {
                value: 12,
                label: "Two",
                color: "#F74AAA"
            },
            {
                value: 3,
                label: "Three",
                color: "#95667A"
            }

        ];
        var lineChartData = {
            labels: ["اسفند", "فروردین", "اردیبهشت", "خرداد", "تیر", "مرداد"],
            datasets: [
                {
                    label: "My First dataset",
                    fillColor: "rgba(220,220,220,0.2)",
                    strokeColor: "rgba(220,220,220,1)",
                    pointColor: "rgba(220,220,220,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(220,220,220,1)",
                    data: [randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor()]
                },
                {
                    label: "My Second dataset",
                    fillColor: "rgba(151,187,205,0.2)",
                    strokeColor: "rgba(151,187,205,1)",
                    pointColor: "rgba(151,187,205,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(151,187,205,1)",
                    data: [randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor()]
                }
            ]

        }

        window.onload = function () {
            var ctx = document.getElementById("chart-area").getContext("2d");
            window.myDoughnut = new Chart(ctx).Doughnut(doughnutData, {responsive: true});

            var ctx2 = document.getElementById("chart-area2").getContext("2d");
            window.myDoughnut = new Chart(ctx2).Doughnut(doughnutData2, {responsive: true});

            var ctx3 = document.getElementById("canvas-bar").getContext("2d");
            window.myBar = new Chart(ctx3).Bar(barChartData, {
                responsive: true
            });

            var ctx4 = document.getElementById("canvas3").getContext("2d");
            window.myLine = new Chart(ctx4).Line(lineChartData, {
                responsive: true
            });
        };


    </script>

{% endblock %}