{% extends "manager_dashboard.html" %}
{% load staticfiles %}
{% block content_dashboard %}

    <div class="col-md-9">
        <h2>اطلاعات
        {{ header }}</h2>


        <table>
            {% for tourist in list %}
                <tr>

                    <td>
                <span>

                    <img class="tour_image_med" src="../../{{ tourist.user.picture }}">
                </span>
                    </td>
                    <td>
                        <a href="profile/tourist/{{ tourist.user.user.username }}">{{ tourist.user.user.username }}</a></td>

                </tr>
            {% endfor %}
        </table>


    </div>


{% endblock content_dashboard %}