{% extends "manager_dashboard.html" %}
{% load staticfiles %}
{% block content_dashboard %}

    <div class="col-md-9">

    <h2> نظرات برخط کاربران</h2>
            <table>
                {% for comment in onlineComments %}
                    <tr>
                        <td>
                            <div>
                <span>
                    <img class="gardeshgar_img" src="{% static 'manager_dashboard/image/girl.jpg' %}">
                </span>
                <span class="gardeshgar_name_box">
                    <a>{{ comment.user.username }}</a></span>

                                <div class="col-md-12 gardeshgar_comment_box">
                                    {{ comment.body }}
                                    <br>
                                    {{ comment.date}}
{#                                    <br><a>{{ comment.tour }}</a>#}
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>


    </div>

{% endblock content_dashboard %}