{% extends "manager_dashboard.html" %}
{% load staticfiles %}
{% block content_dashboard %}

    <div class="col-md-9">
        <table>
            <tr>
              <h2>
                    تورهای در حال اجرا
              </h2>
            </tr>

            {% for tour in runningTours %}
                <tr>

                    <td>
                <span>

                    <img class="tour_image_large" src="../../{{ tour.gardesh.builder.user.picture }}">
{#                    todo #}
                </span>
                    </td>
                    <td>
                        تور
                        {{ tour.gardesh.name }}
                        <br>
                        مسئول تور :
                        {{ tour.leader }}
                        <br>
                        ظرفیت فروش :
                        {{ tour.capacity }}
                        <br>
                        <a href="/show/tour/{{ tour.id }}/status">
{#                            todo #}
                            اطلاعات بیشتر
                        </a></td>

                </tr>
            {% endfor %}
        </table>


    </div>

{% endblock content_dashboard %}