{% extends "manager_dashboard.html" %}
{% load staticfiles %}
{% block content_dashboard %}

    <div class="col-md-9">
        <table>
            <tr>
              <h2>
                    تورهای در حال اجرا
              </h2>
            </tr>

            {% for tour in runningTour %}
                <tr>

                    <td>
                <span>

                    <img class="tour_image_large" src="{% static 'manager_dashboard/image/manzare2.jpg' %}">
                </span>
                    </td>
                    <td>
                        تور
                        {{ tour.name }}
                        <br>
                        مسئول تور :
                        {{ tour.person }}
                        <br>
                        ظرفیت اولیه :
                        {{ tour.capacity }}
                        <br>
                        <a href="/show/tour/admin/status">
                            اطلاعات بیشتر
                        </a></td>

                </tr>
            {% endfor %}
        </table>


    </div>

{% endblock content_dashboard %}