{% extends "manager_dashboard.html" %}
{% load staticfiles %}
{% block content_dashboard %}

    <div class="col-md-9">

    <h2> نظرات برخط کاربران</h2>
            <table>
                {% for comment in onlineComments %}
             <tr>
                <td>
                    <div>
                <span>
                    <img class="gardeshgar_img" src="../../{{comment.user.picture}}">
                </span>
                <span class="gardeshgar_name_box">
               <a href="">{{ comment.user.user.username }} </a>
{#                    todo#}
                    <br>
                    تور
                  <a href="/show/tour/status/{{ comment.tour.id }}"> {{ comment.tour.gardesh.name }}</a>
{#                    todo #}
                </span>

                        <div class="col-md-12 gardeshgar_comment_box">
                            {{ comment.body }}
                            <br>
                            {{ comment.date }}
                        </div>
                    </div>
                </td>
            </tr>
                {% endfor %}
            </table>


    </div>

{% endblock content_dashboard %}