{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
{% endblock %}
{% block content %}

    <h1>
تعریف خدمت    </h1>

{% if username != 'gardeshsaz' %}
    <p>
        این صفحه مخصوص گردشسازان می باشد.
    </p>
    <p>
        در صورتی که گردشساز هستید وارد سامانه شوید.
    </p>
{% else %}

    <p>
لطفا صحت اطلاعات زیر را بررسی نمایید و در صورت مغایرت کلید بازگشت را بزنید.
        <br>
درجه خدمت ارائه شده توسط شما
    {{ gardesh.degree }}
    تشخیص داده شده است و درصد قرارداد به ازای هر خرید 10 درصد می باشد.
    <br>
مبلغ دریافت شده از خریداران پس از هر خرید به حساب شما واریز خواهد شد.
    </p>
    <div class="col-md-11">
        <form method="post" action="">
            {% csrf_token %}
            <div class="col-md-12 , form-group">
                <div class="col-md-6"></div>
                <div class="col-md-4">
                    {{ gardesh.builder.user.user.last_name }}
                    </div>
                    <label  class="col-md-2 ">
                نام شرکت
                    </label>


            </div>
<div class="col-md-12 , form-group">
                <div class="col-md-6"></div>
                <div class="col-md-4">
{{ gardesh.name }}
                        <span class="error"></span>
                    </div>
                    <label  class="col-md-2 ">
نام هواپیما
                    </label>

            </div>
            <div class="col-md-12 , form-group">
                <div class="col-md-6"></div>
                <div class="col-md-4">
{{ airplane.source }}
                        <span class="error"></span>
                    </div>
                    <label  class="col-md-2 ">
مبدا پرواز
                    </label>

            </div>

            <div class="col-md-12 , form-group">
                <div class="col-md-6"></div>
                <div class="col-md-4">
{{ airplane.destination }}
                        <span class="error"></span>
                    </div>
                    <label  class="col-md-2 ">
مقصد پرواز
                    </label>


            </div>

            <div class="col-md-12 , form-group">
                <div class="col-md-1"></div>
                <div class="col-md-3">
{{ airplane.start_t }}
                        <span class="error"></span>
                    </div>
                    <label  class="col-md-2 ">
ساعت حرکت
                        </label>
                <div class="col-md-4">
{{ airplane.start }}
                        <span class="error"></span>
                    </div>
                    <label  class="col-md-2 ">
تاریخ حرکت
                    </label>

            </div>

            <div class="col-md-12 , form-group">
                <div class="col-md-6"></div>
                <div class="col-md-4">
{{ airplane.cost }}
                        <span class="error"></span>
                    </div>
                    <label  class="col-md-2 ">
قیمت هر بلیت
                    </label>

            </div>
            <div class="col-md-12 , form-group">
                <div class="col-md-4"></div>
                <div class="col-md-3">
                    {{ gardesh.free }}
                        <span class="error"></span>
                    </div>
                    <label  class="col-md-5 ">
درصد تخفیف برای اعضای سامانه سپاس ایران
                    </label>

            </div>

            <div class="col-md-12 , form-group">
                <div class="col-md-4"></div>
                <div class="col-md-3">
                    {{ gardesh.max_cancel_time }}
                        <span class="error"></span>
                    </div>
                    <label  class="col-md-5 ">
امکان انصراف اعضا
                    </label>

            </div>


            <div class="col-md-12 , form-group">
                <div class="col-md-3"></div>
                <div class="col-md-9">
شماره صندلی هایی که می خواهید بفروشید
                </div>

            </div>

            <table class="col-md-12">
                <tr class="col-md-12">
                    <td class="col-md-1">
                        <label>
                            از
                        </label>
                    </td>
                    <td class="col-md-1">
120                    </td>
                    <td class="col-md-1">
                        <label>
                            تا
                        </label>
                    </td>
                    <td class="col-md-1">
127                    </td>

                                        <td class="col-md-7"></td>


                </tr>
                <tr class="col-md-12">
                    <td class="col-md-1">
                        <label>
                            از
                        </label>
                    </td>
                    <td class="col-md-1">
130                    </td>
                    <td class="col-md-1">
                        <label>
                            تا
                        </label>
                    </td>
                    <td class="col-md-1">
150                    </td>

                                        <td class="col-md-7"></td>


                </tr>
            </table>
            <div class="col-md-12 , form-group">
                <div class="col-md-1"></div>
                <div class="col-md-6">
{{ gardesh.other_explain }}                        <span class="error"></span>
                    </div>
                    <label  class="col-md-5 ">
توضیحات تکمیلی
                    </label>

            </div>

<div class="col-md-10 ">
                <div class="col-md-6"></div>
 <input class="btn btn-success" type="submit" name="save"   value = "ثبت">
    <input class="btn btn-success" type="submit" name="return"   value = "بازگشت">
    <input class="btn btn-danger" type="submit"  name ="cancel" value="انصراف"  >
</div>


</form>
    </div>

{% endif %}

{% endblock %}