{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
{% endblock %}
{% block content %}

    <h1>
ارائه پرواز
    </h1>
    {% if b.kind != 'AirPlane' %}
    <p>
این صفحه مخصوص گردش سازان هواپیما می باشد.
    </p>
    <p>
        در صورتی که گردشساز هستید وارد سامانه شوید.
    </p>
{% else %}
    <p>
    لطفا اطلاعات پروازی که میخواهید بفروشید با دقت در زیر وارد نمایید
            پر کردن فیلدهای ستاره دار الزامی می باشد.<br>
            قیمت هر بلیت به
            <span style="color: red">
            تومان
</span>
می باشد.

    </p>

    <div class="col-md-11">
        <form method="post" action="">
            {% csrf_token %}
            <div class="col-md-12 , form-group">
                <div class="col-md-6"></div>
                <div class="col-md-4">
                    {{ b.user.user.last_name }}
                    </div>
                    <label  class="col-md-2 ">
                نام شرکت
                    </label>


            </div>
<div class="col-md-12 , form-group">
                <div class="col-md-6">{{ form.name.errors }}</div>
                <div class="col-md-4">
{{ form.name }}
                    </div>
                    <label  class="col-md-2 ">
*نام هواپیما
                    </label>

            </div>
            <div class="col-md-12 , form-group">
                <div class="col-md-6">{{ form.source.errors }}</div>
                <div class="col-md-4">
{{ form.source }}
                    </div>
                    <label  class="col-md-2 ">
*مبدا پرواز
                    </label>

            </div>

            <div class="col-md-12 , form-group">
                <div class="col-md-6">{{ form.destination.errors }}</div>
                <div class="col-md-4">
{{ form.destination }}
                        <span class="error"></span>
                    </div>
                    <label  class="col-md-2 ">
*مقصد پرواز
                    </label>


            </div>

            <div class="col-md-12 , form-group">
                <div class="col-md-1">{{ form.start_t.errors }}</div>
                <div class="col-md-3">
{{ form.start_t }}
                    </div>
                    <label  class="col-md-2 ">
*ساعت حرکت
                        </label>
                <div class="col-md-4">
{{ form.start }}
                    </div>
                    <label  class="col-md-2 ">
*تاریخ حرکت
                    </label>

            </div>

            <div class="col-md-12 , form-group">
                <div class="col-md-6">{{ form.cost.errors }}</div>
                <div class="col-md-4">
{{ form.cost }}
                        <span class="error"></span>
                    </div>
                    <label  class="col-md-2 ">
*قیمت هر بلیت
                    </label>

            </div>
            <div class="col-md-12 , form-group">
                <div class="col-md-4">{{ form.free.errors }}</div>
                <div class="col-md-3">
                    {{ form.free }}
                    </div>
                    <label  class="col-md-5 ">
درصد تخفیف برای اعضای سامانه سپاس ایران
                    </label>

            </div>
{#            <div class="col-md-12 , form-group">#}
{#                <div class="col-md-3"></div>#}
{#                <div class="col-md-9">#}
{#                    این تخفیف اجباری نیست اما در صورت لحاظ شدن از تبلیغات گسترده تری برخوردار خواهید شد#}
{#                </div>#}
{##}
{#            </div>#}
            <div class="col-md-12 , form-group">
                <div class="col-md-4">{{ form.max_cancel_time.errors }}</div>
                <div class="col-md-3">
                    {{ form.max_cancel_time }}
                    </div>
                    <label  class="col-md-5 ">
گردشگران تا چند روز قبل از آغاز تور امکان انصراف دارند؟
                    </label>

            </div>


            <div class="col-md-12 , form-group">
                <div class="col-md-3"></div>
                <div class="col-md-9">
*شماره صندلی هایی که می خواهید بفروشید
                </div>

            </div>

            <table class="col-md-12">
                <tr class="col-md-12">
                    <td class="col-md-1">
                        <label>
                            از
                        </label>
                    </td>
                    <td class="col-md-2">
                        <input type="text" class="form-control ,i" name="s1">
                    </td>
                    <td class="col-md-1">
                        <label>
                            تا
                        </label>
                    </td>
                    <td class="col-md-2">
                        <input type="text" class="form-control ,i" name="e1">
                    </td>
                                        <td class="col-md-1"><input id="add" class="btn btn-success" type="button" value="اضافه" onclick="add1(this)" /></td>

                                        <td class="col-md-5"></td>


                </tr>
            </table>
            <div class="col-md-12 , form-group">
                <div class="col-md-1"></div>
                <div class="col-md-6">
                    <textarea  style=" min-width: 300px"  name="other_explain" id="tourexplain" ></textarea>
                    </div>
                    <label  class="col-md-5 ">
تمامی توضیحات باقیمانده در مورد شرایط سفر را در اینجا درج کنید
                    </label>

            </div>
            <input style="display: none" name="number" id="number" value="2">

<div class="col-md-10 ">
                <div class="col-md-6"></div>
<input class="btn btn-success" type="submit" name="save"   value = "گام بعد">

    <input class="btn btn-danger" type="submit"  name ="cancel" value="انصراف"  >
</div>


</form>
    </div>

{% endif %}
    <script>
    function add1(button){
    var table = button.parentNode.parentNode.parentNode;
    var length = table.getElementsByTagName("tr").length;
    var newrow = table.insertRow(length-1);
    var a = document.getElementById("number");
        newrow.setAttribute("class","col-md-12");
    var cells = ["","","","","",""];

        cells[0] = newrow.insertCell(0);
        cells[0].innerHTML = "<label>از </label>";
        cells[0].setAttribute("class","col-md-1");

        cells[1] = newrow.insertCell(1);
        cells[1].innerHTML = "<input type="+"text"+" name="+"s"+ a.value+" class="+"form-control ,i"+">";
        cells[1].setAttribute("class","col-md-2");
{#        cells[1].setAttribute("name","s"+ a.value);#}


        cells[2] = newrow.insertCell(2);
        cells[2].innerHTML = "<label> تا </label>";
        cells[2].setAttribute("class","col-md-1");

        cells[3] = newrow.insertCell(3);
        cells[3].innerHTML = "<input type="+"text"+" name="+"e"+ a.value+" class="+"form-control ,i"+">";
        cells[3].setAttribute("class","col-md-2");
{#        cells[3].setAttribute("name","e"+ a.value);#}
        a.value = parseInt(a.value)+1;

        cells[4] = newrow.insertCell(4);
        cells[4].innerHTML = ".";
        cells[4].setAttribute("class","col-md-6");

}
    </script>

{% endblock %}