{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
{% endblock %}
{% block content %}

    <h1>
    تعریف هتل
    </h1>

{% if b.kind != 'Hotel' %}
    <p>
        این صفحه مخصوص گردشسازان هتل می باشد.
    </p>
    <p>
        در صورتی که گردشساز هستید وارد سامانه شوید.
    </p>
{% else %}

    <p>
لظفا اطلاعات هتل خود را در اینجا وارد نمایید
            پر کردن فیلدهای ستاره دار الزامی می باشد.<br>

    </p>

    <div class="col-md-11">
        <form method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-md-12 , form-group">
                <div class="col-md-6">{{ form.name.errors }}</div>
                <div class="col-md-4">
{{ form.name }}
                    </div>
                    <label  class="col-md-2 ">
*نام هتل
                    </label>


            </div>

            <div class="col-md-12 , form-group">
                <div class="col-md-6">{{ form.city.errors }}</div>
                <div class="col-md-4">
{{ form.city }}
                    </div>
                    <label  class="col-md-2 ">
*نام شهر مکان هتل
                    </label>

            </div>

            <div class="col-md-12 , form-group">
                <div class="col-md-5"></div>
                <div class="col-md-4">
                </div>

                    <label  class="col-md-3 ">
*تصاویری از هتل
                    </label>

            </div>

            <div class="col-md-12 , form-group">
                <div class="col-md-5">{{ form.pic1.errors }}</div>
                <div class="col-md-4">
                    {{ form.pic1 }}
                </div>

                    <label  class="col-md-3 ">
*تصویر اول
                    </label>

            </div>

            <div class="col-md-12 , form-group">
                <div class="col-md-5">{{ form.pic2.errors }}</div>
                <div class="col-md-4">
                    {{ form.pic2 }}
                </div>

                    <label  class="col-md-3 ">
تصویر دوم
                    </label>

            </div>

            <div class="col-md-12 , form-group">
                <div class="col-md-5">{{ form.pic3.errors }}</div>
                <div class="col-md-4">
                    {{ form.pic3 }}
                </div>

                    <label  class="col-md-3 ">
تصویر سوم
                    </label>

            </div>

            <div class="col-md-12 , form-group">
                <div class="col-md-5">{{ form.pic4.errors }}</div>
                <div class="col-md-4">
                    {{ form.pic4 }}
                </div>

                    <label  class="col-md-3 ">
تصویر چهارم
                    </label>

            </div>

            <div class="col-md-12 , form-group">
                <div class="col-md-4">{{ form.free.errors }}</div>
                <div class="col-md-3">
{{ form.free }}
                    </div>
                    <label  class="col-md-5 ">
درصد تخفیف برای اعضای سامانه سپاس ایران
                    </label>

            </div>
            <div class="col-md-12 , form-group">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    این تخفیف اجباری نیست اما در صورت لحاظ شدن از تبلیغات گسترده تری برخوردار خواهید شد
                </div>

            </div>

            <div class="col-md-12 , form-group">
                <div class="col-md-4">{{ form.max_cancel_time.errors }}</div>
                <div class="col-md-3">
                    {{ form.max_cancel_time }}
                    </div>
                    <label  class="col-md-5 ">
گردشگران تا چند روز قبل از روز خرید امکان انصراف دارند؟
                    </label>

            </div>


            <div class="col-md-12 , form-group">
                <div class="col-md-1"></div>
                <div class="col-md-6">
                    <textarea  style=" min-width: 300px"  name="address" id="tourexplain" ></textarea>
                    </div>
                    <label  class="col-md-5 ">
*آدرس دقیق هتل را در اینجا درج نمایید
                    </label>

            </div>
<div class="col-md-12 , form-group">
                <div class="col-md-1"></div>
                <div class="col-md-6">
                    <textarea  style=" min-width: 300px"  name="other_explain" id="tourexplain" ></textarea>
                        <span class="error"></span>
                    </div>
                    <label  class="col-md-5 ">
تمامی توضیحات باقیمانده در مورد شرایط مکان را در اینجا درج کنید
                    </label>

            </div>

<div class="col-md-10 ">
                <div class="col-md-6"></div>
<input class="btn btn-success" type="submit" name="save"   value = "تایید و ارائه اتاق">

    <input class="btn btn-danger" type="submit"  name ="cancel" value="انصراف"  >
</div>


</form>
    </div>

    {% endif %}


{% endblock %}