{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
{% endblock %}
{% block content %}

    <h1>
    تعریف رستوران
    </h1>

{% if gardesh.builder.id != user2.userm.bprofile.id %}
    <p>
        این صفحه مخصوص گردشسازان رستوران می باشد.
    </p>
    <p>
        در صورتی که گردشساز هستید وارد سامانه شوید.
    </p>
{% else %}


    <p>
لطفا صحت اطلاعات زیر را بررسی نمایید و در صورت مغایرت کلید بازگشت را بزنید.
        <br>
درجه خدمت ارائه شده توسط شما
    {{ gardesh.get_degree_display }}
    تشخیص داده شده است و درصد قرارداد به ازای هر خرید
        {{ gardesh.agreement.percent }}
        درصد می باشد.
    <br>
مبلغ دریافت شده از خریداران پس از هر خرید به حساب شما واریز خواهد شد.
    </p>

<div class="col-md-11">
        <form method="post" action="">
            {% csrf_token %}
            <div class="col-md-12 , form-group">
                <div class="col-md-6"></div>
                <div class="col-md-4">
{{ gardesh.name }}
                    </div>
                    <label  class="col-md-2 ">
نام رستوران
                    </label>


            </div>

            <div class="col-md-12 , form-group">
                <div class="col-md-6"></div>
                <div class="col-md-4">
{{ restaurant.get_city_display }}
                        <span class="error"></span>
                    </div>
                    <label  class="col-md-2 ">
نام شهر مکان رستوران
                    </label>

            </div>


            <div class="col-md-12 , form-group">
                <div class="col-md-6"></div>
                <div class="col-md-4">
{{ restaurant.address }}
                        <span class="error"></span>
                    </div>
                    <label  class="col-md-2 ">
آدرس رستوران
                    </label>

            </div>


            <div class="col-md-12 , form-group">
                <div class="col-md-4"></div>
                <div class="col-md-3">
{{ gardesh.free }}
                        <span class="error"></span>
                    </div>
                    <label  class="col-md-5 ">
درصد تخفیف برای اعضای سامانه سپاس ایران
                    </label>

            </div>

            <div class="col-md-12 , form-group">
                <div class="col-md-4"></div>
                <div class="col-md-3">
                    {{ gardesh.max_cancel_time }}
                        <span class="error"></span>
                    </div>
                    <label  class="col-md-5 ">
امکان انصراف اعضا (چند روز قبل)
                    </label>

            </div>


<div class="col-md-12 , form-group">
                <div class="col-md-1"></div>
                <div class="col-md-6">
{{ gardesh.other_explain }}                        <span class="error"></span>
                    </div>
                    <label  class="col-md-5 ">
توضیحات تکمیلی
                    </label>

            </div>

<div class="col-md-10 ">
                <div class="col-md-6"></div>
 <input class="btn btn-success" type="submit" name="save"   value = "ثبت">
    <input class="btn btn-success" type="submit" name="return"   value = "بازگشت">
    <input class="btn btn-danger" type="submit"  name ="cancel" value="انصراف"  >
</div>


</form>
    </div>

{% endif %}

{% endblock %}
