{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
{% endblock %}
{% block content %}

    <h1>
    تعریف تور
    </h1>
{% if b.kind != 'Tour' %}
    <p>
        این صفحه مخصوص گردشسازان تور می باشد.
    </p>
    <p>
        در صورتی که گردشساز هستید وارد سامانه شوید.
    </p>
{% else %}
    <p>
    لطفا اطلاعات زیر را در مورد تور خود با دقت تکمیل فرمایید.<br>
        پر کردن فیلدهای ستاره دار الزامی می باشد.<br>
    در صورت انتخاب یک وسیله نقلیه یا محل اقامت باید نام شرکت یا نوع آن نوشته شود.<br>
    میزان ظرفیت تور تعداد کل اعضای تور است و شما میتوانید هر تعدادی که مایل هستید اعلام کنید تا ما برای شما تا آن تعداد بفروشیم.
    <br>
    واحد قیمت ها در کل سامانه به تومان می باشد.
    <br>

    </p>

    <div class="col-md-11">
        <form method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-md-12 , form-group">
                <div class="col-md-6"></div>
                <div class="col-md-4">
{{ b.user.user.last_name }}                    </div>
                    <label  class="col-md-2 ">
                نام شرکت
                    </label>


            </div>
            <div class="col-md-12 , form-group">
                <div class="col-md-6">{{ form.name.errors }}</div>
                <div class="col-md-4">
{{ form.name }}
                    <span class="error"></span>
                    </div>
                    <label  class="col-md-2 ">
*نام تور
                    </label>


            </div>
            <div class="col-md-12 , form-group">
                <div class="col-md-6">{{ form.tour_kind.errors }}</div>
                <div class="col-md-4">
                    {{ form.tour_kind }}
                    <span class="error"></span>
                    </div>
                    <label  class="col-md-2 ">
*نوع تور
                    </label>


            </div>
            <div class="col-md-12 , form-group">
                <div class="col-md-6">{{ form.destination.errors }}</div>
                <div class="col-md-4">
{{ form.destination }}
                    <span class="error"></span>
                    </div>
                    <label  class="col-md-2 ">
*                        مقصد تور
                    </label>


            </div>
            <div class="col-md-12 , form-group">
                <div class="col-md-6">{{ form.source.errors }}</div>
                <div class="col-md-4">

                    {{ form.source }}
                        <span class="error"></span>
                    </div>
                    <label  class="col-md-2 ">
*        محل حرکت
                    </label>
                </div>

                <div class="col-md-12 , form-group">
                <div class="col-md-6">{{ form.start.errors }}</div>
                <div class="col-md-4">
{{ form.start }}
                    </div>
                    <label  class="col-md-2 ">
*زمان حرکت
                    </label>

            </div>
            <div class="col-md-12 , form-group">
                <div class="col-md-6">{{ form.start_t.errors }}</div>
                <div class="col-md-4">
{{ form.start_t }}
                    </div>
                    <label  class="col-md-2 ">
*ساعت حرکت
                    </label>

            </div>
            <div class="col-md-12 , form-group">
                <div class="col-md-6">{{ form.end.errors }}</div>
                <div class="col-md-4">
{{ form.end }}
                    </div>
                    <label  class="col-md-2 ">
*زمان بازگشت
                    </label>

            </div>
            <div class="col-md-12 , form-group">
                <div class="col-md-6">{{ form.end_t.errors }}</div>
                <div class="col-md-4">
{{ form.end_t }}
                    </div>
                    <label  class="col-md-2 ">
*ساعت بازگشت
                    </label>

            </div>
            <div class="col-md-12 , form-group">
                <div class="col-md-6">{{ form.entire_capacity.errors }}</div>
                <div class="col-md-4">
{{ form.entire_capacity }}
                    </div>
                    <label  class="col-md-2 ">
*تعداد نفرات
                    </label>

            </div>
            <div class="col-md-12 , form-group">
                <div class="col-md-6">{{ form.capacity.errors }}</div>
                <div class="col-md-4">
{{ form.capacity }}
                    </div>
                    <label  class="col-md-2 ">
*تعداد درخواست برای فروش
                    </label>

            </div>
            <div class="col-md-12 , form-group">
                <div class="col-md-6">{{ form.leader.errors }}</div>
                <div class="col-md-4">
{{ form.leader }}
                    </div>
                    <label  class="col-md-2 ">
*نام مسئول
                    </label>

            </div>
            <div class="col-md-12 , form-group">
                <div class="col-md-6">{{ form.leader_c.errors }}</div>
                <div class="col-md-4">
{{ form.leader_c }}
                    </div>
                    <label  class="col-md-2 ">
معاون مسئول
                    </label>

            </div>
            <div class="col-md-12 , form-group">
                <div class="col-md-3">{{ form.airplane.errors }}</div>
                <div class="col-md-3">
{{ form.airplane }}
                </div>
                <label class="col-md-2">
                    *نام شرکت
                </label>

                <div class="col-md-2">
                        <div class="radio">
                          <label>
                            <input type="radio" name="rt" value="1" aria-label="..." checked>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; هواپیما
                          </label>
                        </div>
                    </div>
                    <label  class="col-md-2 ">
*وسیله حمل ونقل
                    </label>


            </div>
            <div class="col-md-12 , form-group">
                <div class="col-md-3">{{ form.train.errors }}</div>
                <div class="col-md-3">
{{ form.train }}
                </div>
                <label class="col-md-2">
*نام قطار
                </label>

                <div class="col-md-2">
                        <div class="radio">
                          <label>
                            <input type="radio" name="rt" value="2" aria-label="...">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; قطار
                          </label>
                        </div>
                    </div>
                    <label  class="col-md-2 ">
                    </label>


            </div>
            <div class="col-md-12 , form-group">
                <div class="col-md-3"></div>
                <div class="col-md-3">
                    {{ form.bus }}
                </div>
                <label class="col-md-2">
                    *نوع اتوبوس
                </label>

                <div class="col-md-2">
                        <div class="radio">
                          <label>
                            <input type="radio" name="rt" value="3" aria-label="...">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; اتوبوس
                          </label>
                        </div>
                    </div>
                    <label  class="col-md-2 ">
                    </label>


            </div>

            <div class="col-md-12 , form-group">
<div class="col-md-3"></div>
                <div class="col-md-3">
{{ form.hotel }}
                </div>
                <label class="col-md-2">
                    *نام هتل
                </label>

                <div class="col-md-2">
                        <div class="radio">
                          <label>
                            <input type="radio" name="rm" value="1" aria-label="..." checked>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; هتل
                          </label>
                        </div>
                    </div>
                    <label  class="col-md-2 ">
*محل اقامت
                    </label>


            </div>
             <div class="col-md-12 , form-group">
                <div class="col-md-3">{{ form.apartment.errors }}</div>

                <div class="col-md-3">
{{ form.apartment }}
                </div>
                <label class="col-md-2">
*نام هتل آپارتمان
                </label>

                <div class="col-md-2">
                        <div class="radio">
                          <label>
                            <input type="radio" name="rm" value="2" aria-label="...">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; هتل آپارتمان
                          </label>
                        </div>
                    </div>
                    <label  class="col-md-2 ">
                    </label>


            </div>
             <div class="col-md-12 , form-group">
                <div class="col-md-3">{{ form.mosaferkhane.errors }}</div>

                <div class="col-md-3">
{{ form.mosaferkhane }}
                </div>
                <label class="col-md-2">
                    *نام مسافرخانه
                </label>

                <div class="col-md-2">
                        <div class="radio">
                          <label>
                            <input type="radio" name="rm" value="3" aria-label="...">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; مسافرخانه
                          </label>
                        </div>
                    </div>
                    <label  class="col-md-2 ">
                    </label>


            </div>

            <div class="col-md-12 , form-group">
                <p><br></p>

                <div class="col-md-6">{{ form.cost.errors }}</div>
                <div class="col-md-3">
{{ form.cost }}
                    </div>
                    <label  class="col-md-3 ">
*هزینه سفر و مکان
                    </label>

            </div>

            <div class="col-md-12 , form-group">
                <div class="col-md-4">{{ form.free.errors }}</div>
                <div class="col-md-3">
{{ form.free }}
                    </div>
                    <label  class="col-md-5 ">
درصد تخفیف برای اعضای سامانه سپاس ایران
                    </label>

            </div>
            <div class="col-md-12 , form-group">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    این تخفیف اجباری نیست اما در صورت لحاظ شدن از تبلیغات گسترده تری برخوردار خواهید شد
                </div>

            </div>

            <div class="col-md-12 , form-group">
                <div class="col-md-3"></div>
                <div class="col-md-3">
{{ form.max_cancel_time }}                        <span class="error"></span>
                    </div>
                    <label  class="col-md-6 ">
گردشگران تا چند روز قبل از آغاز تور امکان انصراف دارند؟
                    </label>

            </div>

            <div class="col-md-12 , form-group">
                <div class="col-md-5"></div>
                <div class="col-md-4">
                </div>

                    <label  class="col-md-3 ">
*تصاویری از مکان تور
                    </label>

            </div>

            <div class="col-md-12 , form-group">
                <div class="col-md-5">{{ form.pic1.errors }}</div>
                <div class="col-md-4">
                    {{ form.pic1 }}
                </div>

                    <label  class="col-md-3 ">
*تصویر اول
                    </label>

            </div>

            <div class="col-md-12 , form-group">
                <div class="col-md-5">{{ form.pic2.errors }}</div>
                <div class="col-md-4">
                    {{ form.pic2 }}
                </div>

                    <label  class="col-md-3 ">
تصویر دوم
                    </label>

            </div>

            <div class="col-md-12 , form-group">
                <div class="col-md-5">{{ form.pic3.errors }}</div>
                <div class="col-md-4">
                    {{ form.pic3 }}
                </div>

                    <label  class="col-md-3 ">
تصویر سوم
                    </label>

            </div>

            <div class="col-md-12 , form-group">
                <div class="col-md-5">{{ form.pic4.errors }}</div>
                <div class="col-md-4">
                    {{ form.pic4 }}
                </div>

                    <label  class="col-md-3 ">
تصویر چهارم
                    </label>

            </div>

            <div class="col-md-12 , form-group">
                <div class="col-md-1">{{ form.destination_explain.errors }}</div>
                <div class="col-md-6">
{{ form.destination_explain }}
                    </div>
                    <label  class="col-md-5 ">
                        توضیحاتی در مورد مقصد تور و جاذبه هایش بنویسید
                    </label>

            </div>

            <div class="col-md-12 , form-group">
                <div class="col-md-1">{{ form.move_explain.errors }}</div>
                <div class="col-md-6">
{{ form.move_explain }}
                        <span class="error"></span>
                    </div>
                    <label  class="col-md-5 ">
اطلاعات لازم در مورد محل و زمان حرکت بنویسید
                    </label>

            </div>

            <div class="col-md-12 , form-group">
                <div class="col-md-1"></div>
                <div class="col-md-6">
                        <textarea  style="min-height: 100px"  name="other_explain" class="form-control" id="tourexplain" ></textarea>
                    </div>
                    <label  class="col-md-5 ">
تمامی توضیحات باقیمانده در مورد شرایط سفر را در اینجا درج کنید
                    </label>

            </div>
<div class="col-md-10 ">
                <div class="col-md-6"></div>
            <input class="btn btn-success" type="submit" name="save"   value = "گام بعد">
{#    <a href="/tourdefine/tour/2/1" class="btn btn-success">#}
{#        گام بعد#}
{#    </a>#}
    <input class="btn btn-danger" type="submit"  name ="cancel" value="انصراف"  >
</div>
<div style="display: none" id="bazdid">{{ form.bazdid }}</div>
            <div style="display: none" id="number">2</div>
        </form>

    </div>
{% endif %}

    <script>
    function add1(button){
    var table = button.parentNode.parentNode.parentNode;
    var length = table.getElementsByTagName("tr").length;
    var b = document.getElementById("bazdid");
        var a = document.getElementById("number");
    var newrow = table.insertRow(length-1);
        newrow.setAttribute("class","col-md-12");
    var cells = ["","",""];

        cells[0] = newrow.insertCell(0);
        cells[0].innerHTML = "<label > نام مکان </label>";
        cells[0].setAttribute("class","col-md-2");

        cells[1] = newrow.insertCell(1);
        cells[1].innerHTML = b.innerHTML;
        cells[1].setAttribute("class","col-md-3");
        cells[1].setAttribute("name","b"+ a.innerHTML);

        a.innerHTML = parseInt(a.innerHTML)+1;

        cells[2] = newrow.insertCell(2);
        cells[2].innerHTML = "";
        cells[2].setAttribute("class","col-md-7");
}
    </script>

{% endblock %}