{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
{% endblock %}
{% block content %}

    <h1>
    ارائه قطار
    </h1>

{% if user2.userm.bprofile.id != gardesh.builder.id %}
    <p>
        این صفحه مخصوص گردشسازان قطار می باشد.
    </p>
    <p>
        در صورتی که گردشساز هستید وارد سامانه شوید.
    </p>
{% else %}

    <p>
لطفا صحت اطلاعات زیر را بررسی نمایید و در صورت مغایرت کلید بازگشت را بزنید.
        <br>
درجه خدمت ارائه شده توسط شما
    {{ gardesh.get_degree_display }}
    تشخیص داده شده است و درصد قرارداد به ازای هر خرید {{gardesh.agreement.percent  }} درصد می باشد.
    <br>
مبلغ دریافت شده از خریداران پس از هر خرید به حساب شما واریز خواهد شد.
    </p>

    <div class="col-md-11">
        <form method="post" action="">
            {% csrf_token %}
            <div class="col-md-12 , form-group">
                <div class="col-md-6"></div>
                <div class="col-md-4">
{{ b.user.user.last_name }}
                    </div>
                    <label  class="col-md-2 ">
                نام شرکت
                    </label>


            </div>
<div class="col-md-12 , form-group">
                <div class="col-md-6"></div>
                <div class="col-md-4">
{{ gardesh.name }}
                        <span class="error"></span>
                    </div>
                    <label  class="col-md-2 ">
نام قطار
                    </label>

            </div>
            <div class="col-md-12 , form-group">
                <div class="col-md-6"></div>
                <div class="col-md-4">
{{ train.get_source_display }}
                        <span class="error"></span>
                    </div>
                    <label  class="col-md-2 ">
مبدا حرکت
                    </label>

            </div>

            <div class="col-md-12 , form-group">
                <div class="col-md-6"></div>
                <div class="col-md-4">
{{ train.get_destination_display }}
                        <span class="error"></span>
                    </div>
                    <label  class="col-md-2 ">
مقصد حرکت
                    </label>


            </div>

            <div class="col-md-12 , form-group">
                <div class="col-md-1"></div>
                <div class="col-md-3">
{{ train.start_t }}
                        <span class="error"></span>
                    </div>
                    <label  class="col-md-2 ">
ساعت حرکت
                        </label>
                <div class="col-md-4">
{{ train.start }}
                        <span class="error"></span>
                    </div>
                    <label  class="col-md-2 ">
تاریخ حرکت
                    </label>

            </div>

            <div class="col-md-12 , form-group">
                <div class="col-md-6"></div>
                <div class="col-md-4">
{{ train.cost }}
                        <span class="error"></span>
                    </div>
                    <label  class="col-md-2 ">
قیمت هر بلیت
                    </label>

            </div>

            <div class="col-md-12 , form-group">
                <div class="col-md-4"></div>
                <div class="col-md-3">
                    {{ gardesh.free }}
                        <span class="error"></span>
                    </div>
                    <label  class="col-md-5 ">
درصد تخفیف برای اعضای سامانه سپاس ایران
                    </label>

            </div>

            <div class="col-md-12 , form-group">
                <div class="col-md-4"></div>
                <div class="col-md-3">
                    {{ gardesh.max_cancel_time }}
                        <span class="error"></span>
                    </div>
                    <label  class="col-md-5 ">
امکان انصراف اعضا (چند روز قبل)
                    </label>

            </div>


            <div class="col-md-12 , form-group">
                <div class="col-md-4"></div>
                <div class="col-md-3">{{ train.capacity }}</div>
                <div class="col-md-5">
تعداد صندلی هایی که می خواهید بفروشید
                </div>

            </div>


<div class="col-md-12 , form-group">
                <div class="col-md-1"></div>
                <div class="col-md-6">
{{ gardesh.other_explain }}                        <span class="error"></span>
                    </div>
                    <label  class="col-md-5 ">
توضیحات تکمیلی
                    </label>

            </div>

<div class="col-md-10 ">
                <div class="col-md-6"></div>
 <input class="btn btn-success" type="submit" name="save"   value = "ثبت">
    <input class="btn btn-success" type="submit" name="return"   value = "بازگشت">
    <input class="btn btn-danger" type="submit"  name ="cancel" value="انصراف"  >
</div>


</form>
    </div>

{% endif %}

{% endblock %}