{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
{% endblock %}
{% block content %}

<h1>
اصلاح اطلاعات کاربری
    </h1>

    <p>
در این قسمت میتوانید اطلاعات کاربری خود را در حد مجاز ویرایش نمایید
    </p>
<form method="post" action="">
{% csrf_token %}

    <div class="col-md-12 , form-group">
                <div class="col-md-6">{{ form.email.errors }}</div>
                <div class="col-md-4">
{{ form.email }}
                    </div>
                    <label  class="col-md-2 ">

                        {{ form.email.label }}
                    </label>

            </div>

    <div class="col-md-12 , form-group">
                <div class="col-md-6">{{ form.firstname.errors }}</div>
                <div class="col-md-4">
{{ form.firstname }}
                    </div>
                    <label  class="col-md-2 ">
{{ form.firstname.label }}
                    </label>


            </div>

    <div class="col-md-12 , form-group">
                <div class="col-md-6">{{ form.lastname.errors }}</div>
                <div class="col-md-4">
{{ form.lastname }}
                    </div>
                    <label  class="col-md-2 ">
{{ form.lastname.label }}                    </label>


            </div>

    <div class="col-md-12 , form-group">
                <div class="col-md-6">{{ form.password.errors }}</div>
                <div class="col-md-4">
{{ form.password }}
                    </div>
                    <label  class="col-md-2 ">
                    {{ form.password.label }}
                    </label>

            </div>

    <div class="col-md-12 , form-group">
                <div class="col-md-6">{{ form.confirm_password.errors }}</div>
                <div class="col-md-4">
{{ form.confirm_password }}
                    </div>
                    <label  class="col-md-2 ">
{{ form.confirm_password.label }}
                    </label>


            </div>


    <div class="col-md-12 , form-group">
                <div class="col-md-6">{{ form.birthday.errors }}</div>
                <div class="col-md-4">
{{ form.birthday }}
                    </div>
                    <label  class="col-md-2 ">
{{ form.birthday.label }}
                    </label>

            </div>

    <div class="col-md-12 , form-group">
                <div class="col-md-6">{{ form.location.errors }}</div>
                <div class="col-md-4">
{{ form.location }}
                    </div>
                    <label  class="col-md-2 ">
{{ form.location.label }}
                    </label>


            </div>


<div class="col-md-10 ">
                <div class="col-md-6"></div>
    <input class="btn btn-info" type="submit" name="edit"   value = "تغییر اطلاعات">
    <input class="btn btn-danger" type="submit"  name ="cancel" value="بازگشت" >

</div>

</form>

{% endblock %}