{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
{% endblock %}
{% block content %}

<h1>
تغییر اطلاعات گردش سازان
    </h1>


    <p>
در این قسمت میتوانید اطلاعات کاربری خود را در حد مجاز ویرایش نمایید
    </p>
<form method="post" action="">
{% csrf_token %}

    <div class="col-md-12 , form-group">
                <div class="col-md-6"></div>
                <div class="col-md-4">
{{ form.email }}
                        <span class="error"></span>
                    </div>
                    <label  class="col-md-2 ">
{{ form.email.label }}                    </label>

            </div>
    <div class="col-md-12 , form-group">
                <div class="col-md-6"></div>
                <div class="col-md-4">
{{ form.lastname }}
                        <span class="error"></span>
                    </div>
                    <label  class="col-md-2 ">
{{ form.lastname.label }}
                    </label>

            </div>

    <div class="col-md-12 , form-group">
                <div class="col-md-6"></div>
                <div class="col-md-4">
{{ form.password }}
                        <span class="error"></span>
                    </div>
                    <label  class="col-md-2 ">
{{ form.password.label }}
                        </label>
            </div>

    <div class="col-md-12 , form-group">
                <div class="col-md-6"></div>
                <div class="col-md-4">
{{ form.confirm_password }}
                        <span class="error"></span>
                    </div>
                    <label  class="col-md-2 ">
{{ form.confirm_password.label }}
                    </label>


            </div>


    <div class="col-md-12 , form-group">
                <div class="col-md-6"></div>


                <div class="col-md-4">

              {{ form.kind }}

                </div>
        <label  class="col-md-2 ">
{{ form.kind.label }}
                    </label>
        </div>


<div class="col-md-10 ">
                <div class="col-md-6"></div>
    <input class="btn btn-info" type="submit" name="edit"   value = "ویرایش اطلاعات">
    <input class="btn btn-danger" type="submit"  name ="cancel" value="بازگشت"  >

</div>

</form>

{% endblock %}