{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
{% endblock %}
{% block content %}
<h1>
فراموشی رمز عبور
</h1>

    <p>
    ایمیل خود را در کادر وارد کنید تا رمز عبور جدید به شما ارسال گردد.
    </p>

    {% if has_send == 0 %}
    <p style="color: red">
    ایمیل وارد شده در سیستم موجود نمی باشد.
    </p>
    {% elif has_send == 2 %}
    <p style="color: green">
    رمز عبور جدید به ایمیل شما فرستاده شد.
    </p>
    {% endif %}
<form method="post">
{% csrf_token %}
    <div class="col-md-12 , form-group">
                <div class="col-md-6"></div>
                <div class="col-md-4">
                <input type="email"  name="email" class="form-control" id="des" placeholder="ایمیل وارد شده هنگام ثبت نام">                        <span class="error"></span>
                    </div>
                    <label  class="col-md-2 ">
ایمیل
                    </label>

            </div>
<div class="col-md-10 ">
                <div class="col-md-6"></div>
    <input type="submit" class="btn btn-success"  name ="send" value="ارسال رمز عبور">
    <input class="btn btn-danger" type="submit" name ="cancel" value="بازگشت">

</div>
</form>

{% endblock %}