{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
{% endblock %}
{% block content %}

    <h1>
هدف از سامانه
        </h1>
<p>
<br>
با مطالعه آمارهای جهانی و مطالعات اخیر می توان فهمید که امروزه گردشگری از مهم ترین قطب های درآمد زای اقتصادی در سطح جهان است. کشوری مانند ایران با جاذبه های فراوان طبیعی گردشگری نباید چنین آمار اسف باری در این زمینه داشته باشد. با توجه به رشد روزافزون تجارت الکترونیک و فرآیندهای اینترنتی ایجاد سامانه ای مطمئن برای رشد گردشگری راه حلی مناسب به نظر می رسد. چون نرم افزار های تحت وب دارای قابلیت دسترسی بالا و کنترل ساده تر بوده و روشی مناسب برای تبلیغات و جذب افراد می باشند در این سامانه ها حتی تنها با قرار دادن تصاویری کامل از مکان ها می توان افراد را به سفر به آنجا دعوت کرد . یکی دیگر از مشکلات ایجاد شده در زمینه گردشگری، نا امن بودن و عدم اطمینان گردشگران است که یکی از اهداف این سامانه رفع همین مسئله می باشد. همچنین کم بودن حق انتخاب گردشگر در مراجعه به سامانه یک عرضه کننده و نبود فضای رقابتی سالم و درست نیاز به بررسی عمیق دارد. پس سامانه سپاس ایران آغازی است برای رشد فرهنگ و آمار گردشگری در کشور و هم افزایی عرضه کنندگان خدمات و بسته های گردشگری در محیطی مناسب و مطمئن.
همچنین برای تسهیل ارتباط بین سازمان های تولید کننده ی خدمات در زمینه ی گردشگری می توان سامانه ی مورد نظر را بر پایه ی یک شبکه ی اجتماعی با نام «شادان» با امکان عضو گیری از تولید کنندگان و مدیران در حوزه ی گردشگری برپا کرد.

    
</p>

{% endblock %}