{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
{% endblock %}
{% block content %}

    <h1>
نحوه ی رتبه دهی
        </h1>
<p>
<br>
درجه دهی تورها با توجه به درجه وسیله حمل و نقل و مکان اقامت مسافران تعیین میگردد.
    <br>
بدین صورت که اگر هر دو طلایی باشند (مثلا هتل و هواپیما) درجه تور طلایی خواهد بود و اگر وسیله حمل و نقل در این حالت برنز باشد درجه نقره ای خواهد شد.
اگر محل اقامت نقره ای باشد درجه تور از نقره ای شروع می شود و به برنز ختم میگردد
محل اقامت برنزی درجه نقره ای برای سفری طلایی و درجه ای برنزی برای کمتر از آن به دنبال خواهد داشت.

</p>

{% endblock %}