{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
{% endblock %}
{% block content %}

    <h1>
سپاس ایران چیست؟
        </h1>
<p>
    با نگاهی به درآمد کشور های مختلف جهان از طریق صنعت گردشگری می توان به راحتی به اهمیت این صنعت در کشور و نقش ویژه ی آن در درآمد زایی برای کشور پی برد. امروزه بسیاری از کشور ها برای توسعه  روزآمد صنعت گردشگری از ابزار های الکترونیکی و مبتنی بر وب استفاده می کنند.
بر این مبنا «انجمن صنفی دفاتر خدمات مسافرت هوایی و جهانگردی ایران» درخواست برپایی سامانه ی یکپارچه ی خدمت سفر الکترونیکی گردشگران ایران (سپاس ایران) را به هدف ارائه ی خدمت روز آمد در حوزه ی گردشگری ایران و جهان به گردشگران ایرانی داشته است.
به عبارت دیگر هدف سامانه سپاس ایران گردآوری ذینفعان مختلف عرصه ی گردشگری (گردشگران، ارائه دهندگان خدمت و تور) به منظور ارائه ی خدمت روز آمد، یکپارچه و سریع به ذینفعان و نظارت و کنترل نحوه ی عرضه ی خدمات و تور ها توسط مدیریت انجمن. همچنین این سامانه به منظور ایجاد بازار امن برای انجمن اقدام به وفادار سازی ذینفعان به خصوص گردشگران می کند

</p>

{% endblock %}