{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
{% endblock %}
{% block content %}

<h1>
ثبت نام گردش سازان
    </h1>

    <p>
    لطفا اطلاعات زیر را با دقت تکمیل نمایید.<br>
    فیلدهای ستاره دار الزامی هستند.
    </p>
<form method="post" action="">
{% csrf_token %}

    <div class="col-md-12 , form-group">
                <div class="col-md-6"></div>
                <div class="col-md-4">
                        {{ form.email }}
                        <span class="error"></span>
                    </div>
                    <label  class="col-md-2 ">
{{ form.email.label }}
                    </label>

            </div>
    <div class="col-md-12 , form-group">
                <div class="col-md-6"></div>
                <div class="col-md-4">
{{ form.lastname }}
                    <span class="error"></span>
                    </div>
                    <label  class="col-md-2 ">
{{ form.lastname.label }}
                    </label>

            </div>

    <div class="col-md-12 , form-group">
                <div class="col-md-6"></div>
                <div class="col-md-4">
{{ form.username }}
                        <span class="error"></span>
                    </div>
                    <label  class="col-md-2 ">
                        {{ form.username.label }}
                    </label>


            </div>

    <div class="col-md-12 , form-group">
                <div class="col-md-6"></div>
                <div class="col-md-4">
{{ form.password }}
                        <span class="error"></span>
                    </div>
                    <label  class="col-md-2 ">
                        {{ form.password.label }}
                    </label>

            </div>

    <div class="col-md-12 , form-group">
                <div class="col-md-6"></div>
                <div class="col-md-4">
{{ form.confirm_password }}
                    <span class="error"></span>
                    </div>
                    <label  class="col-md-2 ">
{{ form.confirm_password.label }}
                    </label>


            </div>


    <div class="col-md-12 , form-group">
                <div class="col-md-6"></div>
                <div class="col-md-4">

                        {{ form.kind }}
                </div>
        <label  class="col-md-2 ">
{{ form.kind.label }}
                    </label>
        </div>


<div class="col-md-10 ">
                <div class="col-md-6"></div>
    <input class="btn btn-success" type="submit" name="save"   value = "گام بعد">
    <input class="btn btn-danger" type="submit"  name ="cancel" value="انصراف"  >

</div>

</form>

{% endblock %}