{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
{% endblock %}
{% block content %}

<h1>
تایید اطلاعات ثبت نام
    </h1>

    <p>
 لطفا صحت اطلاعات زیر را بررسی نمایید و در صورت درستی به صفحه پرداخت حق عضویت وارد شوید<br>
    </p>
<form method="post" action="">
{% csrf_token %}

    <div class="col-md-12 , form-group">
                <div class="col-md-6"></div>
                <div class="col-md-4">
                        {{ user.email }}
                        <span class="error"></span>
                    </div>
                    <label  class="col-md-2 ">
ایمیل
                    </label>

            </div>
    <div class="col-md-12 , form-group">
                <div class="col-md-6"></div>
                <div class="col-md-4">
{{ user.username }}
                    <span class="error"></span>
                    </div>
                    <label  class="col-md-2 ">
نام کاربری
                   </label>

            </div>

    <div class="col-md-12 , form-group">
                <div class="col-md-6"></div>
                <div class="col-md-4">
{{ user.first_name }}
                    <span class="error"></span>
                    </div>
                    <label  class="col-md-2 ">
نام
                   </label>


            </div>

    <div class="col-md-12 , form-group">
                <div class="col-md-6"></div>
                <div class="col-md-4">
{{ user.last_name }}                        <span class="error"></span>
                    </div>
                    <label  class="col-md-2 ">
نام خانوادگی
                   </label>


            </div>


    <div class="col-md-12 , form-group">
                <div class="col-md-6"></div>
                <div class="col-md-4">

                    {{ profile.get_gender_display }}
                        <span class="error"></span>
                    </div>
                    <label  class="col-md-2 ">
جنسیت
                  </label>


            </div>

    <div class="col-md-12 , form-group">
                <div class="col-md-6"></div>
                <div class="col-md-4">
{{ profile.birthday }}
                        <span class="error"></span>
                    </div>
                    <label  class="col-md-2 ">
تاریخ تولد
                    </label>

            </div>

    <div class="col-md-12 , form-group">
                <div class="col-md-6"></div>
                <div class="col-md-4">
{{ profile.location }}                        <span class="error"></span>
                    </div>
                    <label  class="col-md-2 ">
شهر
                    </label>


            </div>



<div class="col-md-10 ">
                <div class="col-md-6"></div>
    <input class="btn btn-success" type="submit" name="confirm"   value = "تایید">
    <input class="btn btn-info" type="submit" name="return"   value = "بازگشت">
    <input class="btn btn-danger" type="submit"  name ="cancel" value="انصراف"  >

</div>

</form>

{% endblock %}