{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
{% endblock %}
{% block content %}

<h1>
تایید ثبت نام
    </h1>

    <p>
لطفا اطلاعات ورودی خود را بررسی نمایید و در صورت تایید و قبول شرایط زیر ثبت نام خود را تکمیل نمایید.        درصورت انصراف از ثبت نام کلید انصراف را بزنید.
        <br>
در سامانه سپاس ایران میتوانید پس از عضویت گردش هایی را به عرضه فروش بگذارید. این گردش ها را همچنین میتوانید در مرکز خود نیز بفروشید اما با هر فروش در مرکز
    در صفحه کاربری خود با استفاده از نمایه ساده موجود به ما اطلاع دهید تا فروش دوباره ای رخ ندهد.
    <br>
    به ازای هر فروش در سامانه سپاس ایران درصد اندکی از مبلغ خریداری شده که در قرار داد گردش ذکر می شود به حساب سامانه ریخته می شود.
    </p>
<form method="post" action="">
{% csrf_token %}

    <div class="col-md-12 , form-group">
                <div class="col-md-6"></div>
                <div class="col-md-4">
                        {{ user.email }}
                        <span class="error"></span>
                    </div>
                    <label  class="col-md-2 ">
ایمیل
                    </label>

            </div>
    <div class="col-md-12 , form-group">
                <div class="col-md-6"></div>
                <div class="col-md-4">
{{ user.last_name }}
                    <span class="error"></span>
                    </div>
                    <label  class="col-md-2 ">
نام شرکت
                    </label>

            </div>

    <div class="col-md-12 , form-group">
                <div class="col-md-6"></div>
                <div class="col-md-4">
{{ user.username }}
                        <span class="error"></span>
                    </div>
                    <label  class="col-md-2 ">
شماره ثبت
                    </label>


            </div>


    <div class="col-md-12 , form-group">
                <div class="col-md-6"></div>
                <div class="col-md-4">

                        {{ profile.kind }}
                </div>
        <label  class="col-md-2 ">
نوع اصلی گردش
                    </label>
        </div>


<div class="col-md-10 ">
                <div class="col-md-6"></div>
    <input class="btn btn-success" type="submit" name="save"   value = "ثبت نام">
    <input class="btn btn-info" type="submit" name="return"   value = "بازگشت">
    <input class="btn btn-danger" type="submit"  name ="cancel" value="انصراف"  >

</div>

</form>

{% endblock %}