{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
{% endblock %}
{% block content %}

<h1>
    ثبت نام گردشگر
    </h1>

    <p>
    لطفا اطلاعات زیر را با دقت تکمیل نمایید.<br>
    فیلدهای ستاره دار الزامی هستند.
    </p>
<form method="post" action="" enctype="multipart/form-data">
{% csrf_token %}

    <div class="col-md-12 , form-group">
                <div class="col-md-6">{{ form.email.errors }}</div>
                <div class="col-md-4">
                        {{ form.email }}
                        <span class="error"></span>
                    </div>
                    <label  class="col-md-2 ">
{{ form.email.label }}
                    </label>

            </div>
    <div class="col-md-12 , form-group">
                <div class="col-md-6">{{ form.username.errors }}</div>
                <div class="col-md-4">
{{ form.username }}
                    <span class="error"></span>
                    </div>
                    <label  class="col-md-2 ">
{{ form.username.label }}                    </label>

            </div>

    <div class="col-md-12 , form-group">
                <div class="col-md-6">{{ form.firstname.errors }}</div>
                <div class="col-md-4">
{{ form.firstname }}
                    <span class="error"></span>
                    </div>
                    <label  class="col-md-2 ">
{{ form.firstname.label }}                    </label>


            </div>

    <div class="col-md-12 , form-group">
                <div class="col-md-6">{{ form.lastname.errors }}</div>
                <div class="col-md-4">
{{ form.lastname }}                        <span class="error"></span>
                    </div>
                    <label  class="col-md-2 ">
{{ form.lastname.label }}                    </label>


            </div>

    <div class="col-md-12 , form-group">
                <div class="col-md-6">{{ form.password.errors }}</div>
                <div class="col-md-4">
{{ form.password }}
                    <span class="error"></span>
                    </div>
                    <label  class="col-md-2 ">
{{ form.password.label }}         </label>
            </div>

    <div class="col-md-12 , form-group">
                <div class="col-md-6">{{ form.confirm_password.errors }}</div>
                <div class="col-md-4">
{{ form.confirm_password }}
                    <span class="error"></span>
                    </div>
                    <label  class="col-md-2 ">
{{ form.confirm_password.label }}                    </label>


            </div>

    <div class="col-md-12 , form-group">
                <div class="col-md-6">{{ form.pic1.errors }}</div>
                <div class="col-md-4">
{{ form.pic1 }}
                    <span class="error"></span>
                    </div>
                    <label  class="col-md-2 ">
تصویر پروفایل
                   </label>

            </div>

    <div class="col-md-12 , form-group">
                <div class="col-md-6">{{ form.gender.errors }}</div>
                <div class="col-md-4">

                    {{ form.gender }}
                        <span class="error"></span>
                    </div>
                    <label  class="col-md-2 ">
{{ form.gender.label }}                    </label>


            </div>

    <div class="col-md-12 , form-group">
                <div class="col-md-6">{{ form.birthday.errors }}</div>
                <div class="col-md-4">
{{ form.birthday }}
                    </div>
                    <label  class="col-md-2 ">
{{ form.birthday.label }}                    </label>

            </div>

    <div class="col-md-12 , form-group">
                <div class="col-md-6">{{ form.location.errors }}</div>
                <div class="col-md-4">
{{ form.location }}                        <span class="error"></span>
                    </div>
                    <label  class="col-md-2 ">
{{ form.location.label }}                    </label>


            </div>



<div class="col-md-10 ">
                <div class="col-md-6"></div>
    <input class="btn btn-success" type="submit" name="save"   value = "گام بعد">
    <input class="btn btn-danger" type="submit"  name ="cancel" value="انصراف"  >

</div>

</form>

{% endblock %}