{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
{% endblock %}
{% block content %}

    <h1>
        شرکت تحلیلگران
        </h1>
<p>
<br>
اعضای شرکت همگی از دانشجویان دانشگاه شریف بوده و در پروژه های متعدد از سال 91 با یکدیگر همکاری داشته اند (که شرح آن در بخش سوابق تیم پیشنهاد دهنده ذکر شده است) و  فعالیت منسجم شرکت از بهمن 93  به منظور تشکیل شرکتی دانش بنیان آغاز شده است. دو نفر از اعضای گروه تجربه ی کار در شرکت های دیگر و گذراندن دوره ی کارآموزی دارند
</p>

{% endblock %}