{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
{% endblock %}
{% block content %}

<h1>
اطلاعات کاربری گردش ساز
    </h1>


    <br>
<form method="post" action="">
{% csrf_token %}

    <div class="col-md-12 , form-group">
                <div class="col-md-6"></div>
                <div class="col-md-4">
{{ user.email }}
                    </div>
                    <label  class="col-md-2 ">
ایمیل شرکت
                    </label>

            </div>
    <div class="col-md-12 , form-group">
                <div class="col-md-6"></div>
                <div class="col-md-4">
{{ user.last_name }}                    </div>
                    <label  class="col-md-2 ">
نام شرکت (مرکز ارائه)
                    </label>

            </div>

    <div class="col-md-12 , form-group">
                <div class="col-md-6"></div>
                <div class="col-md-4">
{{ user.username }}
                    </div>
                    <label  class="col-md-2 ">
شماره ثبت
                        </label>

            </div>


    <div class="col-md-12 , form-group">
                <div class="col-md-6"></div>


                <div class="col-md-4">

{{ profile.kind }}                </div>
        <label  class="col-md-2 ">
نوع گردش ارائه شده در سازمان
                    </label>
        </div>


<div class="col-md-10 ">
                <div class="col-md-6"></div>
    {% if me %}
    <input class="btn btn-info" type="submit" name="edit"   value = "ویرایش اطلاعات">
    {% endif %}
    <input class="btn btn-danger" type="submit"  name ="cancel" value="بازگشت"  >

</div>

</form>

{% endblock %}