{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
{% endblock %}
{% block content %}

<h1>
اطلاعات کاربری
    </h1>

    <p>
اطلاعات کاربری شما به شرح زیر است
    </p>
<form method="post" action="">
{% csrf_token %}

    <div class="col-md-12 , form-group">
                <div class="col-md-6"></div>
                <div class="col-md-4">
{{ user.email }}
                    </div>
                    <label  class="col-md-2 ">
ایمیل
                    </label>

            </div>
    <div class="col-md-12 , form-group">
                <div class="col-md-6"></div>
                <div class="col-md-4">
{{ user.username }}
                    </div>
                    <label  class="col-md-2 ">
نام کاربری
                    </label>

            </div>

    <div class="col-md-12 , form-group">
                <div class="col-md-6"></div>
                <div class="col-md-4">
{{ user.first_name }}
                    </div>
                    <label  class="col-md-2 ">
نام
                    </label>


            </div>

    <div class="col-md-12 , form-group">
                <div class="col-md-6"></div>
                <div class="col-md-4">
                    {{ user.last_name }}
                    </div>
                    <label  class="col-md-2 ">
نام خانوادگی
                    </label>


            </div>


    <div class="col-md-12 , form-group">
                <div class="col-md-6"></div>
                <div class="col-md-4">
{{ profile.gender }}
                    </div>
                    <label  class="col-md-2 ">
جنسیت
                    </label>


            </div>

    <div class="col-md-12 , form-group">
                <div class="col-md-6"></div>
                <div class="col-md-4">
{{ profile.birthday }}                    </div>
                    <label  class="col-md-2 ">
تاریخ تولد
                    </label>

            </div>

    <div class="col-md-12 , form-group">
                <div class="col-md-6"></div>
                <div class="col-md-4">
{{ profile.location }}
                    </div>
                    <label  class="col-md-2 ">
شهر
                    </label>


            </div>


<div class="col-md-10 ">
                <div class="col-md-6"></div>
    <input class="btn btn-info" type="submit" name="edit"   value = "ویرایش اطلاعات">
    <input class="btn btn-danger" type="submit"  name ="cancel" value="بازگشت"  >

</div>

</form>

{% endblock %}